{% from 'head.html' import head %}
{{ head(category.name | upper, "Palestras e tutoriais confirmados na Python Brasil 2023")}}
{% include 'menu.html' %}

<main class="{{ category.name }}">
    <div class="row justify-content-center text-center container_{{ category.name }}">
        <div class="col-10 mt-4 header-content">
            <figure>
                <picture>
                    <source srcset="/theme/img/responsive/logo_1_w360.webp" width="360" height="133"
                        media="(max-width: 360px)" type="image/webp" />
                    <source srcset="/theme/img/responsive/logo_1_w360.png" width="360" height="133"
                        media="(max-width: 360px)" type="image/png" />
                    <source srcset="/theme/img/responsive/logo_1_w460.webp" width="460" height="169"
                        media="(max-width: 1920px)" type="image/webp" />
                    <source srcset="/theme/img/responsive/logo_1_w460.png" width="460" height="169"
                        media="(max-width: 1920px)" type="image/png" />
                    <source srcset="/theme/img/responsive/logo_1.webp" width="698" height="257" type="image/webp" />
                    <img src="/theme/img/logo_1.png" alt="Logo Python Brasil 2023 - Caxias do Sul" class="img-fluid">
                </picture>
            </figure>
            <h1 class="mt-4">
                {{category|title}}
            </h1>
        </div>
        {% if (category.name == 'palestras' or category.name == 'tutoriais') %}
        {% include 'categories/palestras.html' %}
        <div class="list-items">
            {% for article in articles %}
            <div class="single-item">
                {% set speakers = article.speakers.split("|") %}
                {% set avatar_images = article.speakers_avatar.split("|") %}
                {% set speaker_biographies = article.speakers_biography.split("|") %}
                <div class="speakers">
                    <div class="speaker">
                        <div class="speaker-avatar s_{{ avatar_images | length }}">
                            {% for speaker in speakers %}
                            <figure>
                                <picture>
                                    <img src="{{ avatar_images[loop.index0] }}" alt="{{ speaker }}"
                                        class="{{ speaker | replace(' ', '') | lower }}" loading="lazy">
                                </picture>
                            </figure>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="talk-about">
                    <h3>{{ article.speakers | replace('|', ' & ') }}</h3>
                    <p>{{ article.title }}</p>
                    <div class="talk-actions">
                        <a href="/{{ article.url | replace('"', '') }}">Saiba mais</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        {% endif %}
    </div>
    {% include 'sponsors/apoiadores.html' %} 
</main>
{% include 'footer.html' %}
<script src="/theme/js/main.bundle.min.js"></script>