{% include 'head.html' %}
{% with hide_menu=true %}
    {% include 'menu.html' %}
{% endwith %}
<div class="container">
    <div class="row">
        <div class="col">
            <a href="/categories.html">
                <span class="badge text-bg-light">
                    voltar para listagem
                </span>
            </a>
        </div>
    </div>
</div>
<div class="row justify-content-center text-center">
    <div class="col-10 mt-4">
        <img src="/theme/img/logo_1.png" height="200px" class="img-fluid">
        <br>
        <h1 class="mt-4">
            Patrocinadores {{category|title}}
        </h1>
    </div>
    <div class="col-12 mt-4">
        <p>Queremos muito agradecer a todos os nossos patrocinadores da categoria {{category|title}} por apoiarem o evento e
            torna-lo viavel</p>
        <p>Fica aqui nosso eterno muito obrigado</p>
    </div>
    {% for a in articles %}
    <div class="col-12 col-md-4">
        <a href="/{{a.url}}">
            <img src="{{a.image}}" alt="{{a.title}}" class="img-fluid"><br>
        </a> 
        {{a.title|title}}
    </div>
    {% endfor  %}
</div>