<footer class="footer container-fluid">
  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-8 footer-itens">
      <div class="row">
        <div class="col-lg">
          <h4>Nossas Redes</h4>
          <ul class="list-group list-group-flush">
            {% if SOCIAL.twitter %}
            <li class="list-group-item">
              <a href="{{SOCIAL.twitter}}" target="_blank" class="twitter"><i class="fa-brands fa-twitter"></i>
                Twitter</a>
            </li>
            {% endif %}

            {% if SOCIAL.facebook %}
            <li class="list-group-item">
              <a href="{{SOCIAL.facebook}}" target="_blank" class="facebook"><i class="fa-brands fa-facebook"></i>
                Facebook</a>
            </li>
            {% endif %}

            {% if SOCIAL.instagram %}
            <li class="list-group-item">
              <a href="{{SOCIAL.instagram}}" class="instagram" target="_blank" class="instagram"><i
                  class="fa-brands fa-instagram"></i> Instagram</a>
            </li>
            {% endif %}
            {% if SOCIAL.linkedin %}
            <li class="list-group-item">
              <a href="{{SOCIAL.linkedin}}" class="linkedin" target="_blank" class="linkedin"><i
                  class="fa-brands fa-linkedin"></i> Linkedin</a>
            </li>
            {% endif %}
            {% if SOCIAL.youtube %}
            <li class="list-group-item">
              <a href="{{SOCIAL.youtube}}" class="youtube" target="_blank" class="youtube"><i
                  class="fa-brands fa-youtube"></i> Youtube</a>
            </li>
            {% endif %}
            {% if SOCIAL.flickr %}
            <li class="list-group-item">
              <a href="{{SOCIAL.flickr}}" class="flickr" target="_blank" class="flickr"><i
                  class="fa-brands fa-flickr"></i> Flickr</a>
            </li>
            {% endif %}
            {% if SOCIAL.email %}
            <li class="list-group-item">
              <a href="{{SOCIAL.email}}" class="email" target="_blank" class="email"><i class="fa fa-envelope"></i>
                E-mail</a>
            </li>
            {% endif %}
            {% if SOCIAL.telegram %}
            <li class="list-group-item">
              <a href="{{SOCIAL.telegram}}" class="telegram" target="_blank" class="telegram"><i
                  class="fa-brands fa-telegram"></i> Telegram</a>
            </li>
            {% endif %}
          </ul>
        </div>
        <div class="col-lg">
          <h4>Código de conduta</h4>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <a href="http://python.org.br/cdc/">
                Link para nosso codigo de conduta
              </a>
            </li>
          </ul>
        </div>
        <div class="col-lg">
          <h4>Site Map</h4>
          <ul class="list-group list-group-flush">
            {% for tag, text, active in MENU %}
            {% if active %}
            <li class="list-group-item">
              <a href="{{tag}}">{{text}}</a>
            </li>
            {% endif %}
            {% endfor %}
            {% if EVENTO.inscricao %}
              <li class="list-group-item buy-tickets">
                <a href="{{EVENTO.inscricao}}" target="_blank">Inscrever-se</a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
