{% macro head(title, description) -%}
<head>
  <meta charset="utf-8" />
  <title>{% if title %}{{ title }} - Python Brasil 2023{% else %}Python Brasil 2023{% endif %}</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <meta content="{{SITE_META_KEYWORDS}}" name="keywords" />
  <meta content="{% if description %}{{ description }}{% else %}{{SITE_META_DESCRIPTION}}{% endif %}" name="description" />

  <!-- Favicons -->
  <link href="/theme/img/favicon.svg" rel="icon" />
  <link href="/theme/img/favicon.svg" rel="apple-touch-icon" />

  <meta property="og:title" content="Python Brasil" />
  <meta property="og:type" content="Python Brasil" />
  <meta property="og:description" content="{{SITE_META_DESCRIPTION}}" />
  {% if article %}
  <meta
    property="og:image"
    content="{{ SITEURL }}/theme/img/palestrante/{{article.image}}"
  />
  <meta property="og:url" content="{{ SITEURL }}/{{ article.url }}" />
  {% else %}
  <meta
    property="og:image"
    content="{{ SITEURL }}/theme/img/share.png?v={{SITEYEAR}}"
  />
  <meta property="og:url" content="{{ SITEURL }}" />
  {% endif %}
  <meta property="og:image:alt" content="Python Brasil {{SITEYEAR}}" />
  <meta property="og:image:type" content="image/png" />
  <meta property="og:image:width" content="1200px" />
  <meta property="og:image:height" content="630px" />

  <meta name="twitter:card" content="summary_large_image" />

  <!-- Main Stylesheet File -->
  <link href="/theme/style.css" rel="stylesheet" rel="preload" as="style"/>

  <!-- =======================================================
      Theme Name: TheEvent
      Theme URL: https://bootstrapmade.com/theevent-conference-event-bootstrap-template/
      Author: BootstrapMade.com
      License: https://bootstrapmade.com/license/
    ======================================================= -->
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-1LFK00JXP6"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'G-1LFK00JXP6');
  </script>
</head>
{%- endmacro %}