<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Python Brasil 2023</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="/theme/css/style.css">
  </head>
  <body>
    <nav class="navbar sticky-top navbar-bg navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="#inicio">
            <img src="/theme/img/logo.png" alt="Logo" width="30" class="d-inline-block align-text-top">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="#evento">O Evento</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#keynotes">Keynotes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#programacao">Programação</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#trabalhos">Chamada de Trabalhos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#patrocinadores">Patrocinadores</a>
              </li>
              <li class="nav-item">
                <a class="nav-link eventbright" target="_blank" href="https://www.eventbrite.com.br/e/python-brasil-2023-registration-576537738897">Comprar Ingresso!</a>
              </li>
            </ul>
          </div>      
        </div>
      </nav>
    <main class="container-fluid text-center mt-4 g-0">
        <section class="section inicio" id="inicio">
            <div class="row align-items-center">
                <div class="col-5">
                    <img src="/theme/img/capa.png" alt="logo" class="img-fluid">
                </div>
                <div class="col-7">
                    <h2 class="local">DE 30 OUTUBRO À 05 NOVEMBRO 2023</h2>
                    <p class="hashtag">#PYTHONBRASIL2023</p>
                    <p>As inscrições para a Python Brasil 2022 podem ser feitas pelo botão abaixo.</p>
                    <p>
                        <a href="https://www.eventbrite.com.br/e/python-brasil-2023-registration-576537738897" target="_blank" class="btn btn-outline-light">
                            <i class="fa-solid fa-ticket"></i>
                            Inscreva-se para o evento aqui (Presencial e online)
                        </a>
                        <p class="">Caxias do sul, RS</p>
                    </p>
                </div>
            </div>
        </section>
        <section class="section evento" id="evento">
            <div class="container">
                <h2 class="title">O Evento</h2>
                <hr class="divider"/>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum ipsa quasi vitae dolor nostrum dignissimos doloribus, minus eum consequatur, error iusto unde voluptatum, cum exercitationem voluptate dolorum vel fuga provident?
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum ipsa quasi vitae dolor nostrum dignissimos doloribus, minus eum consequatur, error iusto unde voluptatum, cum exercitationem voluptate dolorum vel fuga provident?
                </p>
            </div>
        </section>
        <section class="section keynotes" id="keynotes">
            <div class="container">
                <h2 class="title"> Os Keynotes </h2>
                <hr class="divider"/>
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="{{SITEURL}}/theme/img/patrocinio.png" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Keynote-1</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Keynote-2</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <img src="{{SITEURL}}/theme/img/patrocinio.png" class="img-fluid rounded-start" alt="...">
                        </div>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="{{SITEURL}}/theme/img/patrocinio.png" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Keynote-3</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section programacao" id="programacao">
            <div class="container">
                <h2 class="title"> Os Programação do Evento </h2>
                <hr class="divider"/>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum ipsa quasi vitae dolor nostrum dignissimos doloribus, minus eum consequatur, error iusto unde voluptatum, cum exercitationem voluptate dolorum vel fuga provident?
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum ipsa quasi vitae dolor nostrum dignissimos doloribus, minus eum consequatur, error iusto unde voluptatum, cum exercitationem voluptate dolorum vel fuga provident?
                </p>
            </div>
        </section>
        <section class="section trabalhos" id="trabalhos">
            <div class="container">
                <h2 class="title"> Chamada para trabalhos </h2>
                <hr class="divider"/>
                <div class="row">
                    <div class="col">
                        <h3>Palestrantes/Tutoriais</h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum ipsa quasi vitae dolor nostrum dignissimos doloribus, minus eum consequatur, error iusto unde voluptatum, cum exercitationem voluptate dolorum vel fuga provident?
                        </p>
                    </div>
                    <div class="col">
                        <h3>Patrocinar/Apoiar</h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum ipsa quasi vitae dolor nostrum dignissimos doloribus, minus eum consequatur, error iusto unde voluptatum, cum exercitationem voluptate dolorum vel fuga provident?
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="section patrocinadores" id="patrocinadores">
            <div class="container">
                <h2 class="title">Os Patrocinadores</h2>
                <hr class="divider"/>
                <h3 class="patrocinio-title">Diamante</h3>
                <div class="row patrocinio justify-content-center">
                    <div class="col-2">
                        <img src="{{SITEURL}}/theme/img/patrocinio.png" class="img-fluid" alt="padrocinador">
                    </div>
                    <div class="col-2">
                        <img src="{{SITEURL}}/theme/img/patrocinio.png" class="img-fluid" alt="padrocinador">
                    </div>
                    <div class="col-2">
                        <img src="{{SITEURL}}/theme/img/patrocinio.png" class="img-fluid" alt="padrocinador">
                    </div>
                    <div class="col-2">
                        <img src="{{SITEURL}}/theme/img/patrocinio.png" class="img-fluid" alt="padrocinador">
                    </div>
                    <div class="col-2">
                        <img src="{{SITEURL}}/theme/img/patrocinio.png" class="img-fluid" alt="padrocinador">
                    </div>
                </div>
                <h3 class="patrocinio-title">Platina</h3>
                <div class="row patrocinio justify-content-center">
                    <div class="col-2">
                        <img src="{{SITEURL}}/theme/img/patrocinio.png" class="img-fluid" alt="padrocinador">
                    </div>
                    <div class="col-2">
                        <img src="{{SITEURL}}/theme/img/patrocinio.png" class="img-fluid" alt="padrocinador">
                    </div>
                    <div class="col-2">
                        <img src="{{SITEURL}}/theme/img/patrocinio.png" class="img-fluid" alt="padrocinador">
                    </div>
                    <div class="col-2">
                        <img src="{{SITEURL}}/theme/img/patrocinio.png" class="img-fluid" alt="padrocinador">
                    </div>
                    <div class="col-2">
                        <img src="{{SITEURL}}/theme/img/patrocinio.png" class="img-fluid" alt="padrocinador">
                    </div>
                </div>
                <h3 class="patrocinio-title">Ouro</h3>
                <div class="row patrocinio justify-content-center">
                    <div class="col-2">
                        <img src="{{SITEURL}}/theme/img/patrocinio.png" class="img-fluid" alt="padrocinador">
                    </div>
                    <div class="col-2">
                        <img src="{{SITEURL}}/theme/img/patrocinio.png" class="img-fluid" alt="padrocinador">
                    </div>
                    <div class="col-2">
                        <img src="{{SITEURL}}/theme/img/patrocinio.png" class="img-fluid" alt="padrocinador">
                    </div>
                    <div class="col-2">
                        <img src="{{SITEURL}}/theme/img/patrocinio.png" class="img-fluid" alt="padrocinador">
                    </div>
                    <div class="col-2">
                        <img src="{{SITEURL}}/theme/img/patrocinio.png" class="img-fluid" alt="padrocinador">
                    </div>
                </div>
                <h3 class="patrocinio-title">Prata</h3>
                <div class="row patrocinio justify-content-center">
                    <div class="col-2">
                        <img src="{{SITEURL}}/theme/img/patrocinio.png" class="img-fluid" alt="padrocinador">
                    </div>
                    <div class="col-2">
                        <img src="{{SITEURL}}/theme/img/patrocinio.png" class="img-fluid" alt="padrocinador">
                    </div>
                    <div class="col-2">
                        <img src="{{SITEURL}}/theme/img/patrocinio.png" class="img-fluid" alt="padrocinador">
                    </div>
                    <div class="col-2">
                        <img src="{{SITEURL}}/theme/img/patrocinio.png" class="img-fluid" alt="padrocinador">
                    </div>
                    <div class="col-2">
                        <img src="{{SITEURL}}/theme/img/patrocinio.png" class="img-fluid" alt="padrocinador">
                    </div>
                </div>
                <h3 class="patrocinio-title">Bronze</h3>
                <div class="row patrocinio justify-content-center">
                    <div class="col-2">
                        <img src="{{SITEURL}}/theme/img/patrocinio.png" class="img-fluid" alt="padrocinador">
                    </div>
                    <div class="col-2">
                        <img src="{{SITEURL}}/theme/img/patrocinio.png" class="img-fluid" alt="padrocinador">
                    </div>
                    <div class="col-2">
                        <img src="{{SITEURL}}/theme/img/patrocinio.png" class="img-fluid" alt="padrocinador">
                    </div>
                    <div class="col-2">
                        <img src="{{SITEURL}}/theme/img/patrocinio.png" class="img-fluid" alt="padrocinador">
                    </div>
                    <div class="col-2">
                        <img src="{{SITEURL}}/theme/img/patrocinio.png" class="img-fluid" alt="padrocinador">
                    </div>
                </div>
                <h3 class="patrocinio-title">Apoios</h3>
                <div class="row patrocinio justify-content-center">
                    <div class="col-2">
                        <img src="{{SITEURL}}/theme/img/patrocinio.png" class="img-fluid" alt="padrocinador">
                    </div>
                    <div class="col-2">
                        <img src="{{SITEURL}}/theme/img/patrocinio.png" class="img-fluid" alt="padrocinador">
                    </div>
                    <div class="col-2">
                        <img src="{{SITEURL}}/theme/img/patrocinio.png" class="img-fluid" alt="padrocinador">
                    </div>
                    <div class="col-2">
                        <img src="{{SITEURL}}/theme/img/patrocinio.png" class="img-fluid" alt="padrocinador">
                    </div>
                    <div class="col-2">
                        <img src="{{SITEURL}}/theme/img/patrocinio.png" class="img-fluid" alt="padrocinador">
                    </div>
                </div>
                <h3 class="patrocinio-title">Embaixadores</h3>
                <div class="row patrocinio justify-content-center">
                    <div class="col-2">
                        <img src="{{SITEURL}}/theme/img/patrocinio.png" class="img-fluid" alt="padrocinador">
                    </div>
                    <div class="col-2">
                        <img src="{{SITEURL}}/theme/img/patrocinio.png" class="img-fluid" alt="padrocinador">
                    </div>
                    <div class="col-2">
                        <img src="{{SITEURL}}/theme/img/patrocinio.png" class="img-fluid" alt="padrocinador">
                    </div>
                    <div class="col-2">
                        <img src="{{SITEURL}}/theme/img/patrocinio.png" class="img-fluid" alt="padrocinador">
                    </div>
                    <div class="col-2">
                        <img src="{{SITEURL}}/theme/img/patrocinio.png" class="img-fluid" alt="padrocinador">
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="footer container-fluid">
        <div class="row">
            <div class="col"></div>
            <div class="col-8 footer-itens">
                <div class="row">
                    <div class="col">
                        <ul>
                            <li>Batatas</li>
                            <li>Batatas</li>
                            <li>Batatas</li>
                            <li>Batatas</li>
                            <li>Batatas</li>
                        </ul>
                    </div>
                    <div class="col">
                        <ul>
                            <li>Batatas</li>
                            <li>Batatas</li>
                            <li>Batatas</li>
                            <li>Batatas</li>
                            <li>Batatas</li>
                        </ul>
                    </div>
                    <div class="col">
                        <ul>
                            <li>Batatas</li>
                            <li>Batatas</li>
                            <li>Batatas</li>
                            <li>Batatas</li>
                            <li>Batatas</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
  </body>
</html>
