<!doctype html>
<html lang="pt-br">
{% include 'head.html' %}

<body>
    <nav class="navbar sticky-top navbar-bg navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="#inicio">
                <img src="/theme/img/logo.png" alt="Logo" width="30" class="d-inline-block align-text-top">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <ul class="navbar-nav">
                    {% for tag, text, active in MENU %}
                    {% if active %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{tag}}">{{text}}</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                    {% if EVENTO.inscricao %}
                    <li class="nav-item">
                        <a class="nav-link eventbright" target="_blank" href="{{EVENTO.inscricao}}">Comprar
                            Ingresso!</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <main class="container-fluid text-center mt-4 g-0">
        <section class="section inicio" id="inicio">
            <div class="row align-items-center">
                <div class="col-5">
                    <img src="/theme/img/capa.png" alt="logo" class="img-fluid">
                </div>
                <div class="col-7">
                    <h2 class="local">{{EVENTO.data_evento}} {{SITEYEAR}}</h2>
                    <p class="hashtag">#PYTHONBRASIL{{SITEYEAR}}</p>
                    <p>As inscrições para a Python Brasil {{SITEYEAR}} podem ser feitas pelo botão abaixo.</p>

                    <p>
                        <a href="{{EVENTO.inscricao}}" target="_blank" class="btn btn-outline-light">
                            <i class="fa-solid fa-ticket"></i>
                            Inscreva-se para o evento aqui (Presencial e online)
                        </a>
                        <p class="">{{EVENTO.cidade}}</p>
                    </p>
                </div>
            </div>
        </section>
        <section class="section evento" id="evento">
            <div class="container">
                <h2 class="title">O Evento</h2>
                <hr class="divider" />
                <p>
                    A Python Brasil é a maior conferência da linguagem de programação Python da América Latina.
                </p>
                <p>

                    É um evento itinerante, que a cada ano é sediado em uma cidade diferente do país, organizado por
                    pessoas
                    voluntárias da comunidade local.
                </p>
                <p>
                    Temos como principais objetivos: difundir a linguagem Python; promover a troca de experiências e
                    conhecimentos; e incentivar o crescimento da comunidade, impactando econômica e socialmente a
                    região.

                </p>
                <p>
                    Este ano evento acontece:<br />
                    Entre os dias 30 de outubro e 05 de novembro em Caxias do Sul (RS).
                </p>

            </div>
        </section>
        <section class="section keynotes" id="keynotes">
            <div class="container">
                <h2 class="title"> Os Keynotes </h2>
                <hr class="divider" />
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="{{SITEURL}}/theme/img/keynotes.png" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Keynote</h5>
                                <p class="card-text">Logo teremos novidades anciosos para saber os keynotes desse ano ?</p>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section programacao" id="programacao">
            <div class="container">
                <h2 class="title"> Os Programação do Evento </h2>
                <hr class="divider" />
                <div class="row">
                    <div class="col">
                        <h3>Tutoriais</h3>
                        <p>
                            30, 31 de Outubro e 01 de Novembro </br>
                            Espaço gratuido da python brasil onde é construido um espaço para aprendizagem e troca de
                            informações
                        </p>
                    </div>
                    <div class="col">
                        <h3>Palestras</h3>
                        <p>
                            02, 03, 04 de Novembro </br>
                            Dias principais do evento, espaço para job fair, network, palestras de diversos temas
                            acontencendo simultaneamente
                        </p>
                    </div>
                    <div class="col">
                        <h3>Sprint</h3>
                        <p>
                            05 de Novembro </br>
                            Espaço gratuido da python brasil onde é construido um espaço para contribuição em projetos
                            open source
                        </p>
                    </div>
                </div>
                <div>
                    <p>
                        Grade ainda em construção!<br>
                        enquanto isso ja garantiu seu ingresso ?
                    </p>
                    <p>
                        <a href="{{EVENTO.inscricao}}" target="_blank" class="btn btn-outline-light">
                            <i class="fa-solid fa-ticket"></i>
                            Inscreva-se para o evento aqui (Presencial e online)
                        </a>
                    </p>
                    <p>
                        Que tal ir conhecendo a cidade do evento ?<br>
                        <a href="https://www.google.com/maps/place/Caxias+do+Sul,+RS/" target="_blank" class="btn btn-outline-light">
                            Caxias do sul RS
                        </a>
                    </p>
                </div>
            </div>
        </section>
        <section class="section trabalhos" id="trabalhos">
            <div class="container">
                <h2 class="title"> Chamada para trabalhos </h2>
                <hr class="divider" />
                <div class="row">
                    <div class="col">
                        <h3>Palestrantes/Tutoriais</h3>
                        <p>
                            Vem fazer um evento incrivel, com sua palestra ou tutorial
                        </p>
                        <a href="{{EVENTO.submissao}}" target="_blank" class="btn btn-outline-light">
                            <i class="fa-solid fa-person-chalkboard"></i>
                            Inscrever sua palestra!
                        </a>
                    </div>
                    <div class="col">
                        <h3>Patrocinar/Apoiar</h3>
                        <p>
                            Que tal apresentar a python brasil na sua empresa? ou ser uma presensa confirmada na maior
                            Conferência de Python da América Latina
                        </p>
                        <div class="row">
                            <div class="col">
                                <a href="{{PLANOS.pt_br}}" target="_blank" class="btn btn-outline-light">
                                    <i class="fa-solid fa-suitcase"></i>
                                    Media kit (pt-br)
                                </a>
                            </div>
                            <div class="col">
                                <a href="{{PLANOS.en}}" target="_blank" class="btn btn-outline-light">
                                    <i class="fa-solid fa-suitcase"></i>
                                    Media kit (en)
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section patrocinadores" id="patrocinadores">
            <div class="container">
                <h2 class="title">Os Patrocinadores</h2>
                <hr class="divider" />
                <h3 class="patrocinio-title">Diamante</h3>
                <div class="row patrocinio justify-content-center">
                    <div class="col">
                        <img src="{{SITEURL}}/theme/img/patrocinio_grande.png" alt="padrocinador">
                    </div>
                </div>
                <h3 class="patrocinio-title">Platina</h3>
                <div class="row patrocinio justify-content-center">
                    <div class="col">
                        <img src="{{SITEURL}}/theme/img/patrocinio_medio.png" alt="padrocinador">
                    </div>
                    <div class="col">
                        <img src="{{SITEURL}}/theme/img/patrocinio_medio.png" alt="padrocinador">
                    </div>
                </div>
                <h3 class="patrocinio-title">Ouro</h3>
                <div class="row patrocinio justify-content-center">
                    <div class="col">
                        <img src="{{SITEURL}}/theme/img/patrocinio_medio.png" alt="padrocinador">
                    </div>
                    <div class="col">
                        <img src="{{SITEURL}}/theme/img/patrocinio_medio.png" alt="padrocinador">
                    </div>
                    <div class="col">
                        <img src="{{SITEURL}}/theme/img/patrocinio_medio.png" alt="padrocinador">
                    </div>
                </div>
                <h3 class="patrocinio-title">Prata</h3>
                <div class="row patrocinio justify-content-center">
                    <div class="col">
                        <img src="{{SITEURL}}/theme/img/patrocinio_pqno.png" alt="padrocinador">
                    </div>
                    <div class="col">
                        <img src="{{SITEURL}}/theme/img/patrocinio_pqno.png" alt="padrocinador">
                    </div>
                    <div class="col">
                        <img src="{{SITEURL}}/theme/img/patrocinio_pqno.png" alt="padrocinador">
                    </div>
                    <div class="col">
                        <img src="{{SITEURL}}/theme/img/patrocinio_pqno.png" alt="padrocinador">
                    </div>
                    <div class="col">
                        <img src="{{SITEURL}}/theme/img/patrocinio_pqno.png" alt="padrocinador">
                    </div>
                </div>
                <h3 class="patrocinio-title">Bronze</h3>
                <div class="row patrocinio justify-content-center">
                    <div class="col">
                        <img src="{{SITEURL}}/theme/img/patrocinio_pqno.png" alt="padrocinador">
                    </div>
                    <div class="col">
                        <img src="{{SITEURL}}/theme/img/patrocinio_pqno.png" alt="padrocinador">
                    </div>
                    <div class="col">
                        <img src="{{SITEURL}}/theme/img/patrocinio_pqno.png" alt="padrocinador">
                    </div>
                    <div class="col">
                        <img src="{{SITEURL}}/theme/img/patrocinio_pqno.png" alt="padrocinador">
                    </div>
                    <div class="col">
                        <img src="{{SITEURL}}/theme/img/patrocinio_pqno.png" alt="padrocinador">
                    </div>
                </div>
                <h3 class="patrocinio-title">Apoios</h3>
                <div class="row patrocinio justify-content-center">
                    <div class="col">
                        <img src="{{SITEURL}}/theme/img/patrocinio_pqno.png" alt="padrocinador">
                    </div>
                    <div class="col">
                        <img src="{{SITEURL}}/theme/img/patrocinio_pqno.png" alt="padrocinador">
                    </div>
                    <div class="col">
                        <img src="{{SITEURL}}/theme/img/patrocinio_pqno.png" alt="padrocinador">
                    </div>
                    <div class="col">
                        <img src="{{SITEURL}}/theme/img/patrocinio_pqno.png" alt="padrocinador">
                    </div>
                    <div class="col">
                        <img src="{{SITEURL}}/theme/img/patrocinio_pqno.png" alt="padrocinador">
                    </div>
                </div>
                <h3 class="patrocinio-title">Embaixadores</h3>
                <p>
                    Venha ser um embaixador da python brasil aquele influencer que nos ajuda a alcançar muitas pessoas!
                    exigimos que seja uma pessoa publica e passará por avaliação da org para entrar no site!
                </p>
                <div class="row">
                    <div class="col">
                        <a href="{{EVENTO.kit_divulgacao}}" target="_blank" class="btn btn-outline-light">
                            SVG's para selembrar que vai na pybr
                        </a>
                    </div>
                </div>
                <div class="row patrocinio justify-content-center">
                    <div class="col">
                        <img src="{{SITEURL}}/theme/img/embaixadores.png" alt="padrocinador">
                    </div>
                </div>
            </div>
        </section>
    </main>
    {% include 'footer.html' %}
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
        integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous">
    </script>
</body>

</html>