<!doctype html>
<html lang="pt-br">
{% from 'head.html' import head %}
{{ head("", "")}}
{% from 'picture.html' import picture %}

<body>
    {% include 'menu.html' %}
    <main class="container-fluid text-center mt-2 g-0">
        <section class="section inicio" id="inicio">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg">
                        <figure>
                            <picture>
                                <source srcset="/theme/img/responsive/capa_w368.webp" width="368" height="327"
                                    media="(max-width: 360px)" type="image/webp" />
                                <source srcset="/theme/img/responsive/capa_w368.png" width="368" height="327"
                                    media="(max-width: 360px)" type="image/png" />
                                <source srcset="/theme/img/responsive/capa_w568.webp" width="512" height="454"
                                    media="(max-width: 560px)" type="image/webp" />
                                <source srcset="/theme/img/responsive/capa_w568.png" width="512" height="454"
                                    media="(max-width: 560px)" type="image/png" />
                                <source srcset="/theme/img/responsive/capa_w768.webp" width="768" height="681"
                                    media="(max-width: 1360px)" type="image/webp" />
                                <source srcset="/theme/img/responsive/capa_w768.png" width="768" height="681"
                                    media="(max-width: 1360x)" type="image/png" />
                                <source srcset="/theme/img/responsive/capa_w1288.webp" width="1288" height="1142"
                                    media="(max-width: 1920px)" type="image/webp" />
                                <source srcset="/theme/img/responsive/capa_w1288.png" width="1288" height="1142"
                                    media="(max-width: 1920px)" type="image/png" />
                                <source srcset="/theme/img/responsive/capa.webp" type="image/webp" />
                                <img src="/theme/img/capa.png" alt="Logo Python Brasil 2023 - Caxias do Sul"
                                    class="img-fluid floatcapa">
                            </picture>
                        </figure>
                    </div>
                    <div class="col-lg mt-4">
                        <div class="container">
                            <h1 class="fs-1 text-start">
                                <strong>
                                    {{EVENTO.data_evento}} {{SITEYEAR}}
                                </strong>
                            </h1>
                            <p class="fs-6 text-start">#PYTHONBRASIL{{SITEYEAR}}</p>
                            <p class="fs-3 mx-auto col-lg-4">
                                <a href="{{EVENTO.inscricao}}" target="_blank"
                                    class="btn btn-block btn-outline-light btn-inscreva-se">
                                    {% include "svg/ticket.svg" %}
                                    Inscreva-se para o evento aqui
                                </a>
                                {{EVENTO.cidade}}
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section evento" id="evento">
            <div class="container">
                <h2 class="title fs-1">O Evento</h2>
                <hr class="divider" />
                <p class="fs-4 text-start">
                    A Python Brasil é a maior conferência de Python da América Latina, sendo um evento voltado a
                    educação,
                    treinamento e troca de experiências. Temos como máxima que pessoas são maiores que tecnologia, e
                    queremos que todos que visitem o evento vivam essa experiência.
                    Sob um código de conduta, o evento preza por criar um ambiente seguro e convidativo a todas as
                    pessoas.
                </p>
                <p class="fs-4 text-start">
                    Como um evento itinerante, todo ano sediado em uma cidade e região diferente do país,
                    sempre organizados por pessoas de comunidades locais, a Python Brasil tem alguns objetivos em cada
                    visita que faz, como principais:<br>
                <ul class="text-start list-object">
                    <li class="fs-5 list-item-li text-start">Difundir a linguagem Python</li>
                    <li class="fs-5 list-item-li text-start">Promover a troca de experiências e conhecimentos</li>
                    <li class="fs-5 list-item-li text-start">Incentivar o crescimento da comunidade nacional</li>
                    <li class="fs-5 list-item-li text-start">Incentivar o crescimento da comunidade regional</li>
                    <li class="fs-5 list-item-li text-start">Impactar econômica e socialmente a região.</li>
                </ul>
                </p>
            </div>
        </section>
        <section class="section programacao" id="programacao">
            <div class="container">
                <h2 class="title fs-1"> Agenda do Evento </h2>
                <hr class="divider" />
                <div class="row">
                    <div class="col-lg">
                        <h3>
                            <strong>
                                Tutoriais
                            </strong></br>
                            <small>
                                <strong>30</strong>, <strong>31</strong> de Outubro e <strong>01</strong> de Novembro
                                </br></br>
                            </small>
                        </h3>
                        <p class="fs-4 text-start">
                            Espaço gratuito da Python Brasil para troca de informações onde os acontecem tutoriais e
                            workshops.
                        </p>
                        <p class="fs-2 text-start">
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1742.0495590817811!2d-51.1499042444396!3d-29.161751284130204!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x951ebcefbf7bdbad%3A0xd4f245a189942c53!2sUCS%20-%20Bloco%2071!5e0!3m2!1sen!2sbr!4v1694466754757!5m2!1sen!2sbr"
                                width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade" title="UCS - Bloco 71"></iframe>
                            <a class="map-link" href="https://maps.app.goo.gl/86hDHwrwu9uLMhvU9" target="_blank">
                                Como chegar
                                {% include "svg/route.svg" %}
                            </a>
                        </p>
                    </div>
                    <div class="col-lg">
                        <h3>
                            <strong>
                                Palestras
                            </strong></br>
                            <small>
                                <strong>02</strong>, <strong>03</strong>, <strong>04</strong> de Novembro </br></br>
                            </small>
                        </h3>
                        <p class="fs-4 text-start">

                            Dias principais do evento, espaço para job fair, network, palestras de diversos temas
                            acontecendo simultaneamente
                        </p>
                        <p class="fs-2 text-start">
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3483.483055266695!2d-51.23806892365488!3d-29.17990207537038!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x951ea375e899dfd1%3A0xd32defd4f660f647!2sFaculdade%20Anhanguera!5e0!3m2!1sen!2sbr!4v1694468002583!5m2!1sen!2sbr"
                                width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade" title="Faculdade Anhanguera"></iframe>
                            <a class="map-link" href="https://maps.app.goo.gl/i2KyY4o728wsCBz68" target="_blank">
                                Como chegar
                                {% include "svg/route.svg" %}
                            </a>
                        </p>
                    </div>
                    <div class="col-lg">
                        <h3>
                            <strong>
                                Sprint
                            </strong></br>
                            <small>
                                <strong>05</strong> de Novembro </br></br>
                            </small>
                        </h3>
                        <p class="fs-4 text-start">
                            Espaço gratuito da Python Brasil onde é construído um espaço para contribuição em projetos
                            open source
                        </p>
                        <p class="fs-2 text-start">
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3194.7046784541203!2d-51.1900071295404!3d-29.169091845131327!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x951ea326424495af%3A0x475dc7aa4e432395!2sEdif%C3%ADcio%20Platinum!5e0!3m2!1sen!2sbr!4v1695824939554!5m2!1sen!2sbr"
                                width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade" title="Edifício Platinum"></iframe>
                            <a class="map-link" href="https://maps.app.goo.gl/mFyt6zvJk3s8GGqB8" target="_blank">
                                Como chegar
                                {% include "svg/route.svg" %}
                            </a>
                        </p>
                    </div>
                </div>
                <h2 class="title fs-1"> Programação do Evento </h2>
                <hr class="divider" />
            </div>
            {% include "skeleton.html" %}
            {% include "schedule.html" %}
        </section>
        <section class="section faq" id="faq">
            <div class="container">
                <h2 class="title fs-1"> Medidas sobre a COVID-19 </h2>
                <br>
                <hr class="divider" />
                <br>
                <div class="row">
                    <div class="col-lg px-4 v-divisor">
                        <h3 class="text-start">
                            <strong>
                                Vacine-se!
                            </strong>
                        </h3>
                        <p class="fs-4 text-justify">
                            Acesse site do Conecte SUS e procure uma unidade básica de saúde para atualizar seu cartão
                            de vacina.
                        </p>
                    </div>
                    <div class="col-lg px-4 v-divisor">
                        <h3 class="text-start">
                            <strong>
                                Recomendação do uso de máscaras
                            </strong>
                        </h3>
                        <p class="fs-4 text-justify">
                            Caso participantes sejam testados positivo para Covid, o uso de máscaras pasará a ser
                            obrigatório
                        </p>
                    </div>
                    <div class="col-lg px-4 text-justify">
                        <h3 class="text-start">
                            <strong>
                                Código de Conduta
                            </strong>
                        </h3>
                        <p class="fs-4">
                            Fique atento ao código de conduta pois nosso objetivo é criar um ambiente seguro para todas
                            as pessoas
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section class="section patrocinadores" id="patrocinadores">
            <div class="container">
                <h2 class="title fs-1">Os Patrocinadores</h2>
                <p class="fs-2">
                    Conheça as empresas que acreditam e fazem esse evento acontecer da melhor forma possivel!
                </p>
                <p class="fs-2">
                    Se quiser se juntar a elas e ter visibilidade nacional entre em contato conosco!
                    <a href="mailto:eventos@python.org.br" target="_blank">eventos@python.org.br</a>
                </p>
                <div class="row">
                    <div class="col-lg">
                        <a href="{{PLANOS.pt_br}}" target="_blank" class="btn btn-block btn-outline-light">
                            {% include "svg/suitcase.svg" %}
                            Media kit (pt-br)
                        </a>
                    </div>
                    <div class="col-lg">
                        <a href="{{PLANOS.en}}" target="_blank" class="btn btn-block btn-outline-light">
                            {% include "svg/suitcase.svg" %}
                            Media kit (en)
                        </a>
                    </div>
                </div>
                <hr class="divider" />
                <div class="row">
                    {% for cat, posts in categories if cat == 'diamante' %}
                    <h3 class="patrocinio-title">{{cat}}</h3>
                    {% for post in posts %}
                    <div class="col-lg">
                        <a target="_blank" href="{{post.link}}" class="patrocinio-background">
                            {{ picture(post.image, post.title, 400) }}
                        </a>
                    </div>
                    {% endfor %}
                    {% endfor %}
                </div>
                <div class="row">
                    {% for cat, posts in categories if cat == 'prata' %}
                    <h3 class="patrocinio-title">{{cat}}</h3>
                    {% for post in posts %}
                    <div class="col-lg">
                        <a target="_blank" href="{{post.link}}" class="patrocinio-background">
                            {{ picture(post.image, post.title, 200) }}
                        </a>
                    </div>
                    {% endfor %}
                    {% endfor %}
                </div>
                <div class="row">
                    {% for cat, posts in categories if cat == 'apoios' %}
                    <h3 class="patrocinio-title">{{cat}}</h3>
                    {% for post in posts %}
                    <div class="col-lg">
                        <a target="_blank" href="{{post.link}}" class="patrocinio-background">
                            {{ picture(post.image, post.title, 200) }}
                        </a>
                    </div>
                    {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </section>
        <section class="section parceiros" id="parceiros">
            <div class="container">
                <h2 class="title fs-1">Nossos Parceiros</h2>
                <p class="fs-2">
                    Conheça nossos parceiros
                </p>
                <hr class="divider" />
                <div class="row">
                    {% for cat, posts in categories if cat == 'parceiros' %}
                    {% for post in posts %}
                    <div class="col-lg d-flex justify-content-center">
                        <div class="card text-center" style="width: 18rem;">
                            <a href="{{ post.link }}" target="_blank">
                                {{ picture(post.image, post.title, 200) }}
                            </a>
                            <div class="card-body" id="popover-dismiss">
                                <h5 class="card-title">{{post.title}}</h5>
                                <p class="card-text">{{post.summary}}</p>
                                <a tabindex="0" class="btn btn-block btn-outline-dark" role="button"
                                    data-bs-toggle="popover" data-bs-trigger="focus" data-bs-content="Copiado!"
                                    onclick="copyVoucher('{{post.voucher}}')">
                                    Copiar Voucher
                                </a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </section>
    </main>
    {% include 'footer.html' %}
    <script src="/theme/js/main.bundle.min.js"></script>
</body>

</html>