{% macro left_keynote(image, name, body) -%}
<div class="keynote-card">
    <div class="col-md">
        <img src="{{ image }}" class="keynote-img" alt="...">
    </div>
    <div class="keynote-text">
        <div class="card-body text-white">
            <h5 class="card-title fs-1 text-start">{{ name }}</h5>
            <p class="card-text fs-2 text-start">
                {{ body }}
            </p>
        </div>
    </div>
</div>
{%- endmacro %}

{% macro right_keynote(image, name, body) -%}
<div class="keynote-card">
    <div class="keynote-text">
        <div class="card-body text-white">
            <h5 class="card-title fs-1 text-end">{{ name }}</h5>
            <p class="card-text fs-2 text-end">
                {{ body }}
            </p>
        </div>
    </div>
    <div class="col-md  ">
        <img src="{{ image }}" class="keynote-img" alt="...">
    </div>
</div>
{%- endmacro %}
