<div class="event-skeleton active">
  <div class="container">
    <div class="skeleton-header">
      <ul>
        <li>
          {% include 'svg/laptop-code.svg' %}
        </li>
        <li>
          {% include 'svg/speakers.svg' %}
        </li>
        <li>
          {% include 'svg/speakers.svg' %}
        </li>
      </ul>
      <ul>
        <li>
          {% include 'svg/day.svg' %}
        </li>
        <li>
          {% include 'svg/day.svg' %}
        </li>
        <li>
          {% include 'svg/day.svg' %}
        </li>
      </ul>
      <ul>
        <li>
          {% include 'svg/place.svg' %}
        </li>
        <li>
          {% include 'svg/place.svg' %}
        </li>
        <li>
          {% include 'svg/place.svg' %}
        </li>
        <li>
          {% include 'svg/place.svg' %}
        </li>
      </ul>
    </div>
    <div class="skeleton-content">
      <div class="header-content"></div>
      <div class="list-content">
        <ul>
          <li>
            <div class="first-column"></div>
            <div class="second-column">
              <div class="title"></div>
              <div class="details"></div>
            </div>
          </li>
          <li>
            <div class="first-column"></div>
            <div class="second-column">
              <div class="title"></div>
              <div class="details"></div>
            </div>
          </li>
          <li>
            <div class="first-column"></div>
            <div class="second-column">
              <div class="title"></div>
              <div class="details"></div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>