// GENERAL
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #091E2A;
  background: linear-gradient(to right, #122443, #091E2A);
  background: -moz-linear-gradient(to right, #122443, #091E2A);
  background: -webkit-linear-gradient(to right, #122443, #091E2A);
  background: -o-linear-gradient(to right, #122443, #091E2A);
  color: $dark-blue;
  font-family: $font-signika;
  font-size: 1.6rem;
  font-weight: $font-weight-300;
  position: relative;
}

.full-white-block {
  display: none;

  @media screen and (min-width: $large-desktop) {
    display: block;
    content: "";
    position: absolute;
    background-color: $new-white;
    top: 0;
    right: 0;
    width: 8vw;
    height: 100%;
    z-index: 0;
  }
}

.full-image-bottom {
  display: none;

  @media screen and (min-width: $ipad-pro) {
    display: block;
    content: "";
    position: absolute;
    bottom: 200px;
    left: 0;
    width: 600px;
  }

  @media screen and (min-width: $large-desktop) {
    bottom: 0;
    width: 800px;
  }

  @media screen and (min-width: $extra-large-desktop) {
    width: 1100px;
  }
}

.break {
  display: block;
}

@media screen and (max-width: $tablet) {
  .break-mobile {
    display: block;
  }
}

@media screen and (min-width: $large-desktop) {
  .break-desktop {
    display: block;
  }
}

// FONT
@font-face {
  font-family: 'Cervanttis';
  src: url('../fonts/cervanttis.eot');
  src: url('../fonts/cervanttis.eot?#iefix') format('embedded-opentype'),
       url('../fonts/cervanttis.woff2') format('woff2'),
       url('../fonts/cervanttis.woff') format('woff'),
       url('../fonts/cervanttis.svg') format("svg"),
       url('../fonts/cervanttis.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

.fw-300 {
  font-weight: $font-weight-300;
}

.fw-400 {
  font-weight: $font-weight-400;
}

.fw-600 {
  font-weight: $font-weight-600;
}

.font-alice {
  font-family: $font-alice;
}

.font-cervanttis {
  font-family: $font-cervanttis;
}

.font-default {
  font-family: $font-signika;
}

// COLOR
.text-light-purple {
  color: $light-purple;
}

.text-dark-purple {
  color: $dark-purple;
}

.text-light-blue {
  color: $light-blue;
}

.text-dark-blue {
  color: $dark-blue;
}

// ANIMATIONS
.main-transition {
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

// TITLE
.title__group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-top: 40px;

  @media screen and (min-width: $ipad-pro) {
    width: 400px;
  }

  @media screen and (min-width: $large-desktop) {
    min-width: 600px;
    margin-left: 20px;
  }

  @media screen and (min-width: $extra-large-desktop) {
    margin-left: 50px;
  }

  &::before {
    position: absolute;
    display: block;
    content: "";
    background-color: $light-purple;
    height: 1px;
    width: 50px;
    top: 0;
    left: 18%;

    @media screen and (min-width: $large-desktop) {
      width: 85px;
    }
  }

  &__title {
    position: absolute;
    z-index: 1;
    font-size: 60px;

    @media screen and (min-width: $large-desktop) {
      font-size: 100px;
    }
  }

  &__subtitle {
    z-index: 2;
    font-size: 30px;
    padding-top: 10px;
    letter-spacing: 7px;

    @media screen and (min-width: $large-desktop) {
      font-size: 40px;
      padding-top: 25px;
      letter-spacing: 15px;
    }
  }
}

// HEADER
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
  height: 100%;
  position: relative;

  @media screen and (min-width: $ipad-pro) {
    padding: 150px 0 0;
  }

  @media screen and (min-width: $extra-large-desktop) {
    padding: 100px 0;
  }

  &__brand {
    display: none;

    @media screen and (min-width: $ipad-pro) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      position: absolute;
      height: 100%;
      width: 110px;
      left: 5%;
      top: 10%;
    }

    @media screen and (min-width: $extra-large-desktop) {
      left: 8%;
      top: 20%;
    }

    &__logo {
      padding-bottom: 40px;
    }

    &__title {
      font-size: 12px;
      letter-spacing: 5px;
      writing-mode: vertical-rl;
      text-orientation: mixed;
      transform: rotate(180deg);
      -webkit-transform: rotate(180deg);
      -moz-trasnfor: rotate(180deg);
      -o-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
    }
  }

  &__group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;

    &__background {
      position: absolute;
      width: 100%;

      @media screen and (min-width: $large-desktop) {
        width: 800px;
      }

      @media screen and (min-width: $extra-large-desktop) {
        width: 890px;
        margin-top: 80px;
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      position: relative;

      @media screen and (min-width: $large-desktop) {
        padding-top: 150px;
      }

      @media screen and (min-width: $extra-large-desktop) {
        padding-top: 220px;
      }

      &__title {
        font-size: 40px;
        padding-bottom: 20px;

        @media screen and (min-width: $ipad-pro) {
          font-size: 70px;
          padding-bottom: 60px;
        }

        @media screen and (min-width: $large-desktop) {
          font-size: 100px;
        }

        &--small {
          padding-top: 20px;
          font-size: 18px;
          letter-spacing: 5px;

          @media screen and (min-width: $ipad-pro) {
            padding-top: 40px;
            font-size: 20px;
            letter-spacing: 10px;
          }
        }
      }

      &__subtitle {
        order: -1;
        font-size: 16px;
        padding-bottom: 20px;
        letter-spacing: 2px;

        @media screen and (min-width: $ipad-pro) {
          font-size: 16px;
          letter-spacing: 10px;
        }

        @media screen and (min-width: $large-desktop) {
          font-size: 20px;
        }
      }

      &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%;
        height: 47px;
        background-color: $dark-blue;
        color: $white;
        border-radius: 50px;
        font-size: 16px;

        @media screen and (min-width: $ipad-pro) {
          width: 275px;
          margin-left: 100px;
        }

        @media screen and (min-width: $large-desktop) {
          font-size: 18px;
        }

        &:hover {
          text-decoration: none;
          color: $white;
          transform: scale(1.1);
          -webkit-transform: scale(1.1);
          -moz-transform: scale(1.1);
          -ms-transform: scale(1.1);
          -o-transform: scale(1.1);
        }

        &__icon {
          margin-right: 10px;
        }
      }
    }
  }

  &__detail-top {
    display: none;

    @media screen and (min-width: $ipad-pro) {
      display: block;
      position: absolute;
      top: 0;
      left: 30%;
      width: 80px;
    }

    @media screen and (min-width: $large-desktop) {
      left: 22%;
    }

    @media screen and (min-width: $extra-large-desktop) {
      left: 27%;
    }
  }
}

// HEADER DISCLAIMER
.header-disclaimer {
  padding: 50px 0;

  @media screen and (min-width: $ipad-pro) {
    padding: 150px 0 100px;
  }

  @media screen and (min-width: $large-desktop) {
    padding: 100px 0;
  }

  @media screen and (min-width: $extra-large-desktop) {
    padding: 150px 0 100px;
  }

  &__group {
    background-color: $new-white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 50px;

    @media screen and (min-width: $ipad-pro) {
      flex-direction: row;
      justify-content: flex-start;
      padding: 75px 100px 75px 150px;
    }

    @media screen and (min-width: $large-desktop) {
      padding: 75px 100px 75px 200px;
    }

    &__item {
      padding: 30px 0;

      &--1 {
        @media screen and (min-width: $ipad-pro) {
          margin-right: 10%;
        }
      }

      @media screen and (min-width: $ipad-pro) {
        padding: 0;
        width: 40%;
      }

      @media screen and (min-width: $extra-large-desktop) {
        width: 35%;
      }

      &__title {
        font-size: 16px;
        padding-bottom: 20px;
        letter-spacing: 2px;
      }

      &__description {
        font-size: 16px;
        padding-bottom: 20px;
        line-height: 1.6;
        letter-spacing: 1px;
      }

      &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 25px;
        font-size: 12px;
        border-radius: 50px;

        &--light-purple {
          background-color: transparent;
          border: 2px solid $light-purple;
          color: $light-purple;

          &:hover {
            text-decoration: none;
            background-color: $light-purple;
            color: $white;
          }
        }

        &--dark-purple {
          background-color: transparent;
          border: 2px solid $dark-purple;
          color: $dark-purple;

          &:hover {
            text-decoration: none;
            background-color: $dark-purple;
            color: $white;
          }
        }
      }
    }
  }
}

// ABOUT
.about {
  padding: 50px 0;
  position: relative;

  @media screen and (min-width: $large-desktop) {
    padding: 50px 0 150px;
  }

  &__group {
    &__title {
      padding-bottom: 30px;

      @media screen and (min-width: $extra-large-desktop) {
        padding-bottom: 60px;
      }
    }

    &__description {
      font-size: 15px;
      padding: 10px 0;
      letter-spacing: 5px;
      line-height: 1.8;
    }
  }

  &__image {
    width: 100%;

    @media screen and (min-width: $tablet) {
      position: absolute;
      right: 0;
      bottom: 75px;
      width: 350px;
      z-index: 3;
    }

    @media screen and (min-width: $large-desktop) {
      width: 650px;
      bottom: 100px;
    }

    @media screen and (min-width: $extra-large-desktop) {
      width: 860px;
      bottom: 0;
    }
  }
}

// SPEAKERS
.speakers {
  padding: 50px 0;
  position: relative;

  &__group {
    &__title {
      @media screen and (max-width: $tablet) {
        align-items: flex-start;
      }

      &::before {
        @media screen and (max-width: $tablet) {
          left: 0;
        }
      }
    }
  }

  &__soon {
    padding: 100px 0;
  }
}

// SPONSORS
.sponsors {
  position: relative;
  z-index: 4;
  padding: 0 0 100px;

  &__group {
    &__title {
      align-items: flex-start;

      &::before {
        left: 10%;
      }

      &__text {
        font-size: 45px;

        @media screen and (min-width: $tablet) {
          font-size: 60px;
        }

        @media screen and (min-width: $large-desktop) {
          font-size: 100px;
        }
      }

      &__subtitle {
        padding-left: 35px;

        @media screen and (min-width: $large-desktop) {
          padding-left: 50px;
        }
      }
    }

    &__cta {
      display: flex;
      flex-direction: column;
      padding-top: 50px;

      @media screen and (min-width: $large-desktop) {
        flex-direction: row;
      }

      &__title {
        font-size: 20px;
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;

        @media screen and (min-width: $large-desktop) {
          padding-top: 10px;
        }

        &::after {
          display: block;
          content: "";
          background-color: $white;
          margin-top: 30px;
          width: 85px;
          height: 1px;
        }
      }

      &__btn {
        background-color: $light-purple;
        color: $white;
        font-size: 18px;
        width: 100%;
        height: 47px;
        border: 2px solid $light-purple;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
          background-color: transparent;
          color: $light-purple;
          text-decoration: none;
        }

        @media screen and (min-width: $large-desktop) {
          width: 167px;
          margin-left: 40px;
        }
      }
    }
  }

  &__partners-group {
    padding-top: 100px;

    &__title {
      align-items: flex-start;

      &::before {
        left: 10%;
      }
    }
  }

  &__group-logos {
    padding-top: 50px;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $large-desktop) {
      flex-direction: row;
      justify-content: space-between;
    }

    &--partners {
      flex-direction: column;
    }

    &__item {
      width: 100%;

      @media screen and (min-width: $large-desktop) {
        width: 30%;
      }

      &--help {
        width: 100%;
        position: relative;
        z-index: 3;
      }

      &__title {
        display: flex;
        align-items: flex-start;
        padding-top: 20px;

        &__icon {
          width: 25px;
          margin-right: 10px;
        }

        &__text {
          margin: 0;
          font-size: 18px;
          letter-spacing: 5px;
          display: flex;
          flex-direction: column;
          padding-top: 2px;

          &::after {
            display: block;
            content: "";
            background-color: $light-purple;
            width: 85px;
            height: 1px;
            margin-top: 10px;
          }
        }
      }

      &__logos {
        &__brand {
          display: block;
          background-color: $white;
          margin: 40px 0;

          &--platinum {
            width: 100%;
            height: 60px;
          }

          &--gold {
            width: 90%;
            height: 50px;

            @media screen and (min-width: $large-desktop) {
              height: 60px;
            }
          }

          &--silver {
            width: 75%;
            height: 40px;

            @media screen and (min-width: $large-desktop) {
              height: 60px;
            }
          }

          &--host {
            width: 255px;
            background-color: initial;
          }

          &--help {
            width: 30%;
            height: 60px;
            background-color: #c9c9c9;
          }
        }

        &--help {
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-wrap: wrap;
        }
      }
    }
  }
}

// FOOTER
.footer {
  position: relative;
  z-index: 7;

  &__group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media screen and (min-width: $large-desktop) {
      flex-direction: row;
      align-items: flex-end;
    }

    &__disclaimer {
      width: 100%;
      padding: 0 20px 50px;

      @media screen and (min-width: $tablet) {
        padding: 0 50px 50px;
      }

      @media screen and (min-width: $ipad-pro) {
        padding: 0 100px 50px;
      }

      @media screen and (min-width: $large-desktop) {
        width: 30%;
        min-height: 240px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 50px;
      }

      @media screen and (min-width: $extra-large-desktop) {
        width: 25%;
        padding: 0 75px;
      }

      &__text {
        font-size: 14px;
        letter-spacing: 5px;
        line-height: 2;

        @media screen and (min-width: $large-desktop) {
          font-size: 9px;
          line-height: 2.5;
        }
      }
    }

    &__links {
      width: 100%;
      background-color: $new-white;
      padding: 20px;
      display: flex;
      flex-wrap: wrap;

      @media screen and (min-width: $tablet) {
        padding: 20px 50px;
      }

      @media screen and (min-width: $ipad-pro) {
        padding: 20px 100px;
      }

      @media screen and (min-width: $large-desktop) {
        width: 70%;
        min-height: 240px;
      }

      @media screen and (min-width: $extra-large-desktop) {
        width: 75%;
      }

      &__item {
        padding: 30px 0;
        width: 50%;
        display: flex;
        flex-direction: column;

        @media screen and (min-width: $tablet) {
          width: 25%;
        }

        &__title {
          font-size: 14px;
          padding-bottom: 20px;
          letter-spacing: 2px;
        }

        &__link {
          font-size: 16px;
          color: $dark-blue;
          letter-spacing: 2px;

          &:hover {
            color: $light-purple;
            text-decoration: none;
          }

          &--btn {
            @media screen and (min-width: $large-desktop) {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 250px;
              height: 47px;
              background-color: $dark-blue;
              color: $white;
              border-radius: 50px;
              font-size: 14px;
              margin-top: -10px;
              box-shadow: 0 0 7px rgba(8, 41, 60, 1);

              &:hover {
                text-decoration: none;
                color: $white;
                transform: scale(1.1);
                -webkit-transform: scale(1.1);
                -moz-transform: scale(1.1);
                -ms-transform: scale(1.1);
                -o-transform: scale(1.1);
                box-shadow: 0 0 10px rgba(8, 41, 60, .5);
              }
            }

            @media screen and (min-width: $extra-large-desktop) {
              width: 275px;
              font-size: 16px;
            }

            &__icon {
              display: none;

              @media screen and (min-width: $large-desktop) {
                display: block;
                margin-right: 10px;
              }
            }
          }
        }
      }
    }
  }
}
