* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: #091E2A;
  background: linear-gradient(to right, #122443, #091E2A);
  background: -moz-linear-gradient(to right, #122443, #091E2A);
  background: -webkit-linear-gradient(to right, #122443, #091E2A);
  background: -o-linear-gradient(to right, #122443, #091E2A);
  color: #08293C;
  font-family: "Signika", sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  position: relative; }

.full-white-block {
  display: none; }
  @media screen and (min-width: 1200px) {
    .full-white-block {
      display: block;
      content: "";
      position: absolute;
      background-color: #FFF;
      top: 0;
      right: 0;
      width: 8vw;
      height: 100%;
      z-index: 0; } }

.break {
  display: block; }

@media screen and (max-width: 768px) {
  .break-mobile {
    display: block; } }
@media screen and (min-width: 1200px) {
  .break-desktop {
    display: block; } }
@font-face {
  font-family: 'Cervanttis';
  src: url("../fonts/cervanttis.eot");
  src: url("../fonts/cervanttis.eot?#iefix") format("embedded-opentype"), url("../fonts/cervanttis.woff2") format("woff2"), url("../fonts/cervanttis.woff") format("woff"), url("../fonts/cervanttis.svg") format("svg"), url("../fonts/cervanttis.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
.fw-300 {
  font-weight: 300; }

.fw-400 {
  font-weight: 400; }

.fw-600 {
  font-weight: 600; }

.font-alice {
  font-family: "Alice", serif; }

.font-cervanttis {
  font-family: "Cervanttis", sans-serif; }

.font-default {
  font-family: "Signika", sans-serif; }

.text-light-purple {
  color: #AA076B; }

.text-dark-purple {
  color: #3C1053; }

.text-light-blue {
  color: #041B2D; }

.dark-blue {
  color: #08293C; }

.main-transition {
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  -webkit-transition: all .5s ease;
  transition: all .5s ease; }

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
  height: 100%; }
  @media screen and (min-width: 1024px) {
    .header {
      padding: 150px 0 0; } }
  .header__group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2; }
    .header__group__background {
      position: absolute;
      width: 100%; }
      @media screen and (min-width: 1200px) {
        .header__group__background {
          width: 800px; } }
      @media screen and (min-width: 1600px) {
        .header__group__background {
          width: 890px; } }
    .header__group__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      position: relative; }
      @media screen and (min-width: 1200px) {
        .header__group__content {
          padding-top: 150px; } }
      .header__group__content__title {
        font-size: 40px;
        padding-bottom: 20px; }
        @media screen and (min-width: 1024px) {
          .header__group__content__title {
            font-size: 70px;
            padding-bottom: 60px; } }
        @media screen and (min-width: 1200px) {
          .header__group__content__title {
            font-size: 100px; } }
        .header__group__content__title--small {
          padding-top: 20px;
          font-size: 18px;
          letter-spacing: 5px; }
          @media screen and (min-width: 1024px) {
            .header__group__content__title--small {
              padding-top: 40px;
              font-size: 20px;
              letter-spacing: 10px; } }
      .header__group__content__subtitle {
        order: -1;
        font-size: 16px;
        padding-bottom: 20px;
        letter-spacing: 2px; }
        @media screen and (min-width: 1024px) {
          .header__group__content__subtitle {
            font-size: 16px;
            letter-spacing: 10px; } }
        @media screen and (min-width: 1200px) {
          .header__group__content__subtitle {
            font-size: 20px; } }
      .header__group__content__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%;
        height: 47px;
        background-color: #08293C;
        color: #FFF;
        border-radius: 50px;
        font-size: 16px; }
        @media screen and (min-width: 1024px) {
          .header__group__content__btn {
            width: 275px;
            margin-left: 100px; } }
        @media screen and (min-width: 1200px) {
          .header__group__content__btn {
            font-size: 18px; } }
        .header__group__content__btn:hover {
          text-decoration: none;
          color: #FFF;
          transform: scale(1.1);
          -webkit-transform: scale(1.1);
          -moz-transform: scale(1.1);
          -ms-transform: scale(1.1);
          -o-transform: scale(1.1); }
        .header__group__content__btn__icon {
          margin-right: 10px; }

.header-disclaimer {
  padding: 50px 0; }
  @media screen and (min-width: 1024px) {
    .header-disclaimer {
      padding: 150px 0 100px; } }
  @media screen and (min-width: 1200px) {
    .header-disclaimer {
      padding: 100px 0; } }
  @media screen and (min-width: 1600px) {
    .header-disclaimer {
      padding: 150px 0 100px; } }
  .header-disclaimer__group {
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 50px; }
    @media screen and (min-width: 1024px) {
      .header-disclaimer__group {
        flex-direction: row;
        justify-content: flex-start;
        padding: 75px 100px 75px 150px; } }
    @media screen and (min-width: 1200px) {
      .header-disclaimer__group {
        padding: 75px 100px 75px 200px; } }
    .header-disclaimer__group__item {
      padding: 30px 0; }
      @media screen and (min-width: 1024px) {
        .header-disclaimer__group__item--1 {
          margin-right: 10%; } }
      @media screen and (min-width: 1024px) {
        .header-disclaimer__group__item {
          padding: 0;
          width: 40%; } }
      @media screen and (min-width: 1600px) {
        .header-disclaimer__group__item {
          width: 35%; } }
      .header-disclaimer__group__item__title {
        font-size: 16px;
        padding-bottom: 20px;
        letter-spacing: 2px; }
      .header-disclaimer__group__item__description {
        font-size: 16px;
        padding-bottom: 20px;
        line-height: 1.6;
        letter-spacing: 1px; }
      .header-disclaimer__group__item__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 25px;
        font-size: 12px;
        border-radius: 50px; }
        .header-disclaimer__group__item__btn--light-purple {
          background-color: transparent;
          border: 2px solid #AA076B;
          color: #AA076B; }
          .header-disclaimer__group__item__btn--light-purple:hover {
            text-decoration: none;
            background-color: #AA076B;
            color: #FFF; }
        .header-disclaimer__group__item__btn--dark-purple {
          background-color: transparent;
          border: 2px solid #3C1053;
          color: #3C1053; }
          .header-disclaimer__group__item__btn--dark-purple:hover {
            text-decoration: none;
            background-color: #3C1053;
            color: #FFF; }

/*# sourceMappingURL=custom.css.map */
