* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  background: #091E2A;
  background: linear-gradient(to right, #122443, #091E2A);
  background: -moz-linear-gradient(to right, #122443, #091E2A);
  background: -webkit-linear-gradient(to right, #122443, #091E2A);
  background: -o-linear-gradient(to right, #122443, #091E2A);
  color: #08293C;
  font-family: "Signika", sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  position: relative; }

.full-white-block {
  display: none; }
  @media screen and (min-width: 1200px) {
    .full-white-block {
      display: block;
      content: "";
      position: absolute;
      background-color: #F6F6F6;
      top: 0;
      right: 0;
      width: 8vw;
      height: 100%;
      z-index: 0; } }

.full-image-bottom {
  display: none; }
  @media screen and (min-width: 1024px) {
    .full-image-bottom {
      display: block;
      content: "";
      position: absolute;
      bottom: 200px;
      left: 0;
      width: 600px; } }
  @media screen and (min-width: 1200px) {
    .full-image-bottom {
      bottom: 0;
      width: 800px; } }
  @media screen and (min-width: 1600px) {
    .full-image-bottom {
      width: 1100px; } }

.break {
  display: block; }

@media screen and (max-width: 768px) {
  .break-mobile {
    display: block; } }
@media screen and (min-width: 1200px) {
  .break-desktop {
    display: block; } }
@font-face {
  font-family: 'Cervanttis';
  src: url("../fonts/cervanttis.eot");
  src: url("../fonts/cervanttis.eot?#iefix") format("embedded-opentype"), url("../fonts/cervanttis.woff2") format("woff2"), url("../fonts/cervanttis.woff") format("woff"), url("../fonts/cervanttis.svg") format("svg"), url("../fonts/cervanttis.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
.fw-300 {
  font-weight: 300; }

.fw-400 {
  font-weight: 400; }

.fw-600 {
  font-weight: 600; }

.font-alice {
  font-family: "Alice", serif; }

.font-cervanttis {
  font-family: "Cervanttis", sans-serif; }

.font-default {
  font-family: "Signika", sans-serif; }

.text-light-purple {
  color: #AA076B; }

.text-dark-purple {
  color: #3C1053; }

.text-light-blue {
  color: #082233; }

.text-dark-blue {
  color: #08293C; }

.main-transition {
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  -webkit-transition: all .5s ease;
  transition: all .5s ease; }

.title__group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-top: 40px; }
  @media screen and (min-width: 1024px) {
    .title__group {
      width: 400px; } }
  @media screen and (min-width: 1200px) {
    .title__group {
      min-width: 600px;
      margin-left: 20px; } }
  @media screen and (min-width: 1600px) {
    .title__group {
      margin-left: 50px; } }
  .title__group::before {
    position: absolute;
    display: block;
    content: "";
    background-color: #AA076B;
    height: 1px;
    width: 50px;
    top: 0;
    left: 18%; }
    @media screen and (min-width: 1200px) {
      .title__group::before {
        width: 85px; } }
  .title__group__title {
    position: absolute;
    z-index: 1;
    font-size: 60px; }
    @media screen and (min-width: 1200px) {
      .title__group__title {
        font-size: 100px; } }
  .title__group__subtitle {
    z-index: 2;
    font-size: 30px;
    padding-top: 10px;
    letter-spacing: 7px; }
    @media screen and (min-width: 1200px) {
      .title__group__subtitle {
        font-size: 40px;
        padding-top: 25px;
        letter-spacing: 15px; } }

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
  height: 100%;
  position: relative; }
  @media screen and (min-width: 1024px) {
    .header {
      padding: 150px 0 0; } }
  @media screen and (min-width: 1600px) {
    .header {
      padding: 100px 0; } }
  .header__brand {
    display: none; }
    @media screen and (min-width: 1024px) {
      .header__brand {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        position: absolute;
        height: 100%;
        width: 110px;
        left: 5%;
        top: 10%; } }
    @media screen and (min-width: 1600px) {
      .header__brand {
        left: 8%;
        top: 20%; } }
    .header__brand__logo {
      padding-bottom: 40px; }
    .header__brand__title {
      font-size: 12px;
      letter-spacing: 5px;
      writing-mode: vertical-rl;
      text-orientation: mixed;
      transform: rotate(180deg);
      -webkit-transform: rotate(180deg);
      -moz-trasnfor: rotate(180deg);
      -o-transform: rotate(180deg);
      -ms-transform: rotate(180deg); }
  .header__group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2; }
    .header__group__background {
      position: absolute;
      width: 100%; }
      @media screen and (min-width: 1200px) {
        .header__group__background {
          width: 800px; } }
      @media screen and (min-width: 1600px) {
        .header__group__background {
          width: 890px;
          margin-top: 80px; } }
    .header__group__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      position: relative; }
      @media screen and (min-width: 1200px) {
        .header__group__content {
          padding-top: 150px; } }
      @media screen and (min-width: 1600px) {
        .header__group__content {
          padding-top: 220px; } }
      .header__group__content__title {
        font-size: 40px;
        padding-bottom: 20px; }
        @media screen and (min-width: 1024px) {
          .header__group__content__title {
            font-size: 70px;
            padding-bottom: 60px; } }
        @media screen and (min-width: 1200px) {
          .header__group__content__title {
            font-size: 100px; } }
        .header__group__content__title--small {
          padding-top: 20px;
          font-size: 18px;
          letter-spacing: 5px; }
          @media screen and (min-width: 1024px) {
            .header__group__content__title--small {
              padding-top: 40px;
              font-size: 20px;
              letter-spacing: 10px; } }
      .header__group__content__subtitle {
        order: -1;
        font-size: 16px;
        padding-bottom: 20px;
        letter-spacing: 2px; }
        @media screen and (min-width: 1024px) {
          .header__group__content__subtitle {
            font-size: 16px;
            letter-spacing: 10px; } }
        @media screen and (min-width: 1200px) {
          .header__group__content__subtitle {
            font-size: 20px; } }
      .header__group__content__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%;
        height: 47px;
        background-color: #08293C;
        color: #FFF;
        border-radius: 50px;
        font-size: 16px; }
        @media screen and (min-width: 1024px) {
          .header__group__content__btn {
            width: 275px;
            margin-left: 100px; } }
        @media screen and (min-width: 1200px) {
          .header__group__content__btn {
            font-size: 18px; } }
        .header__group__content__btn:hover {
          text-decoration: none;
          color: #FFF;
          transform: scale(1.1);
          -webkit-transform: scale(1.1);
          -moz-transform: scale(1.1);
          -ms-transform: scale(1.1);
          -o-transform: scale(1.1); }
        .header__group__content__btn__icon {
          margin-right: 10px; }
  .header__detail-top {
    display: none; }
    @media screen and (min-width: 1024px) {
      .header__detail-top {
        display: block;
        position: absolute;
        top: 0;
        left: 30%;
        width: 80px; } }
    @media screen and (min-width: 1200px) {
      .header__detail-top {
        left: 22%; } }
    @media screen and (min-width: 1600px) {
      .header__detail-top {
        left: 27%; } }

.header-disclaimer {
  padding: 50px 0; }
  @media screen and (min-width: 1024px) {
    .header-disclaimer {
      padding: 150px 0 100px; } }
  @media screen and (min-width: 1200px) {
    .header-disclaimer {
      padding: 100px 0; } }
  @media screen and (min-width: 1600px) {
    .header-disclaimer {
      padding: 150px 0 100px; } }
  .header-disclaimer__group {
    background-color: #F6F6F6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 50px; }
    @media screen and (min-width: 1024px) {
      .header-disclaimer__group {
        flex-direction: row;
        justify-content: flex-start;
        padding: 75px 100px 75px 150px; } }
    @media screen and (min-width: 1200px) {
      .header-disclaimer__group {
        padding: 75px 100px 75px 200px; } }
    .header-disclaimer__group__item {
      padding: 30px 0; }
      @media screen and (min-width: 1024px) {
        .header-disclaimer__group__item--1 {
          margin-right: 10%; } }
      @media screen and (min-width: 1024px) {
        .header-disclaimer__group__item {
          padding: 0;
          width: 40%; } }
      @media screen and (min-width: 1600px) {
        .header-disclaimer__group__item {
          width: 35%; } }
      .header-disclaimer__group__item__title {
        font-size: 16px;
        padding-bottom: 20px;
        letter-spacing: 2px; }
      .header-disclaimer__group__item__description {
        font-size: 16px;
        padding-bottom: 20px;
        line-height: 1.6;
        letter-spacing: 1px; }
      .header-disclaimer__group__item__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 25px;
        font-size: 12px;
        border-radius: 50px; }
        .header-disclaimer__group__item__btn--light-purple {
          background-color: transparent;
          border: 2px solid #AA076B;
          color: #AA076B; }
          .header-disclaimer__group__item__btn--light-purple:hover {
            text-decoration: none;
            background-color: #AA076B;
            color: #FFF; }
        .header-disclaimer__group__item__btn--dark-purple {
          background-color: transparent;
          border: 2px solid #3C1053;
          color: #3C1053; }
          .header-disclaimer__group__item__btn--dark-purple:hover {
            text-decoration: none;
            background-color: #3C1053;
            color: #FFF; }

.about {
  padding: 50px 0;
  position: relative; }
  @media screen and (min-width: 1200px) {
    .about {
      padding: 50px 0 150px; } }
  .about__group__title {
    padding-bottom: 30px; }
    @media screen and (min-width: 1600px) {
      .about__group__title {
        padding-bottom: 60px; } }
  .about__group__description {
    font-size: 15px;
    padding: 10px 0;
    letter-spacing: 5px;
    line-height: 1.8; }
  .about__image {
    width: 100%; }
    @media screen and (min-width: 768px) {
      .about__image {
        position: absolute;
        right: 0;
        bottom: 75px;
        width: 350px;
        z-index: 3; } }
    @media screen and (min-width: 1200px) {
      .about__image {
        width: 650px;
        bottom: 100px; } }
    @media screen and (min-width: 1600px) {
      .about__image {
        width: 860px;
        bottom: 0; } }

.speakers {
  padding: 50px 0;
  position: relative; }
  .speakers__soon {
    padding: 100px 0; }

.schedule {
  padding: 0 0 100px;
  position: relative; }
  @media screen and (min-width: 1024px) {
    .schedule {
      width: 50%; } }
  @media screen and (min-width: 1200px) {
    .schedule {
      padding: 0 0 300px;
      margin: 100px 0; } }
  @media screen and (min-width: 1600px) {
    .schedule {
      width: 800px;
      margin: 100px 0 200px; } }
  .schedule__group {
    background-color: #F6F6F6;
    padding: 40px; }
    @media screen and (min-width: 1200px) {
      .schedule__group {
        padding: 60px; } }
    @media screen and (min-width: 1600px) {
      .schedule__group {
        padding: 60px 60px 100px; } }
    .schedule__group__detail-left {
      display: none; }
      @media screen and (min-width: 1200px) {
        .schedule__group__detail-left {
          display: block;
          position: absolute;
          left: 0;
          top: 100px;
          width: 120px;
          z-index: 4; } }
    .schedule__group__detail-top {
      display: none; }
      @media screen and (min-width: 1024px) {
        .schedule__group__detail-top {
          display: block;
          position: absolute;
          top: -220px;
          left: 0;
          width: 200px;
          z-index: 2; } }
    .schedule__group__main {
      position: relative;
      z-index: 3; }
      @media screen and (min-width: 1200px) {
        .schedule__group__main {
          margin: 0 auto;
          width: 100%; } }
      .schedule__group__main__small-image {
        display: none; }
        @media screen and (min-width: 1200px) {
          .schedule__group__main__small-image {
            display: block;
            width: 300px;
            margin: -150px auto 50px; } }
      .schedule__group__main__title__text {
        color: #EBEBEB; }
      .schedule__group__main__title__subtitle {
        color: #08293C; }
      .schedule__group__main__description {
        font-size: 15px;
        letter-spacing: 2px;
        line-height: 1.6;
        padding: 40px 0;
        margin: 0; }
        @media screen and (min-width: 1200px) {
          .schedule__group__main__description {
            padding: 60px 0 40px;
            text-align: center; } }
      .schedule__group__main__days {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap; }
        @media screen and (min-width: 1200px) {
          .schedule__group__main__days {
            width: 50%;
            margin: 0 auto; } }
        @media screen and (min-width: 1600px) {
          .schedule__group__main__days {
            width: 300px; } }
        .schedule__group__main__days__item {
          width: 85px;
          height: 85px;
          background-color: transparent;
          border: 2px solid #3C1053;
          border-radius: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 20px 0; }
          @media screen and (min-width: 1024px) {
            .schedule__group__main__days__item {
              width: 28%;
              height: 110px; } }
          @media screen and (min-width: 1200px) {
            .schedule__group__main__days__item {
              width: 85px;
              height: 85px; } }
          .schedule__group__main__days__item:hover {
            text-decoration: none;
            background-color: #08293C;
            color: #F6F6F6; }
          .schedule__group__main__days__item__link {
            width: 85px;
            height: 85px;
            color: #08293C;
            font-size: 40px;
            display: flex;
            align-items: center;
            justify-content: center; }
            @media screen and (min-width: 1024px) {
              .schedule__group__main__days__item__link {
                width: 28%;
                height: 110px; } }
            @media screen and (min-width: 1200px) {
              .schedule__group__main__days__item__link {
                width: 85px;
                height: 85px; } }
            .schedule__group__main__days__item__link:hover {
              text-decoration: none;
              color: #F6F6F6; }
    .schedule__group__big-image {
      display: none; }
      @media screen and (min-width: 1200px) {
        .schedule__group__big-image {
          display: block;
          position: absolute;
          left: 0;
          bottom: 0px;
          width: 600px; } }
      @media screen and (min-width: 1600px) {
        .schedule__group__big-image {
          width: 700px;
          bottom: -50px; } }

.sponsors {
  position: relative;
  z-index: 4;
  padding: 0 0 100px; }
  .sponsors__group__title {
    align-items: flex-start; }
    .sponsors__group__title::before {
      left: 10%; }
    .sponsors__group__title__text {
      font-size: 45px; }
      @media screen and (min-width: 768px) {
        .sponsors__group__title__text {
          font-size: 60px; } }
      @media screen and (min-width: 1200px) {
        .sponsors__group__title__text {
          font-size: 100px; } }
    .sponsors__group__title__subtitle {
      padding-left: 35px; }
      @media screen and (min-width: 1200px) {
        .sponsors__group__title__subtitle {
          padding-left: 50px; } }
  .sponsors__group__cta {
    display: flex;
    flex-direction: column;
    padding-top: 50px; }
    @media screen and (min-width: 1200px) {
      .sponsors__group__cta {
        flex-direction: row; } }
    .sponsors__group__cta__title {
      font-size: 20px;
      display: flex;
      flex-direction: column;
      margin-bottom: 40px; }
      @media screen and (min-width: 1200px) {
        .sponsors__group__cta__title {
          padding-top: 10px; } }
      .sponsors__group__cta__title::after {
        display: block;
        content: "";
        background-color: #FFF;
        margin-top: 30px;
        width: 85px;
        height: 1px; }
    .sponsors__group__cta__btn {
      background-color: #AA076B;
      color: #FFF;
      font-size: 18px;
      width: 100%;
      height: 47px;
      border: 2px solid #AA076B;
      border-radius: 50px;
      display: flex;
      align-items: center;
      justify-content: center; }
      .sponsors__group__cta__btn:hover {
        background-color: transparent;
        color: #AA076B;
        text-decoration: none; }
      @media screen and (min-width: 1200px) {
        .sponsors__group__cta__btn {
          width: 167px;
          margin-left: 40px; } }
  .sponsors__partners-group {
    padding-top: 100px; }
    .sponsors__partners-group__title {
      align-items: flex-start; }
      .sponsors__partners-group__title::before {
        left: 10%; }
  .sponsors__group-logos {
    padding-top: 50px;
    display: flex;
    flex-direction: column; }
    @media screen and (min-width: 1200px) {
      .sponsors__group-logos {
        flex-direction: row;
        justify-content: space-between; } }
    .sponsors__group-logos--partners {
      flex-direction: column; }
    .sponsors__group-logos__item {
      width: 100%; }
      @media screen and (min-width: 1200px) {
        .sponsors__group-logos__item {
          width: 30%; } }
      .sponsors__group-logos__item--help {
        width: 100%;
        position: relative;
        z-index: 3; }
      .sponsors__group-logos__item__title {
        display: flex;
        align-items: flex-start;
        padding-top: 20px; }
        .sponsors__group-logos__item__title__icon {
          width: 25px;
          margin-right: 10px; }
        .sponsors__group-logos__item__title__text {
          margin: 0;
          font-size: 18px;
          letter-spacing: 5px;
          display: flex;
          flex-direction: column;
          padding-top: 2px; }
          .sponsors__group-logos__item__title__text::after {
            display: block;
            content: "";
            background-color: #AA076B;
            width: 85px;
            height: 1px;
            margin-top: 10px; }
      .sponsors__group-logos__item__logos__brand {
        display: block;
        background-color: #FFF;
        margin: 40px 0; }
        .sponsors__group-logos__item__logos__brand--platinum {
          width: 100%;
          height: 60px; }
        .sponsors__group-logos__item__logos__brand--gold {
          width: 90%;
          height: 50px; }
          @media screen and (min-width: 1200px) {
            .sponsors__group-logos__item__logos__brand--gold {
              height: 60px; } }
        .sponsors__group-logos__item__logos__brand--silver {
          width: 75%;
          height: 40px; }
          @media screen and (min-width: 1200px) {
            .sponsors__group-logos__item__logos__brand--silver {
              height: 60px; } }
        .sponsors__group-logos__item__logos__brand--host {
          width: 255px;
          background-color: initial; }
        .sponsors__group-logos__item__logos__brand--help {
          width: 30%;
          height: 60px;
          background-color: #c9c9c9; }
      .sponsors__group-logos__item__logos--help {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap; }

.footer {
  position: relative;
  z-index: 7; }
  .footer__group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    @media screen and (min-width: 1200px) {
      .footer__group {
        flex-direction: row;
        align-items: flex-end; } }
    .footer__group__disclaimer {
      width: 100%;
      padding: 0 20px 50px; }
      @media screen and (min-width: 768px) {
        .footer__group__disclaimer {
          padding: 0 50px 50px; } }
      @media screen and (min-width: 1024px) {
        .footer__group__disclaimer {
          padding: 0 100px 50px; } }
      @media screen and (min-width: 1200px) {
        .footer__group__disclaimer {
          width: 30%;
          min-height: 240px;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0 50px; } }
      @media screen and (min-width: 1600px) {
        .footer__group__disclaimer {
          width: 25%;
          padding: 0 75px; } }
      .footer__group__disclaimer__text {
        font-size: 14px;
        letter-spacing: 5px;
        line-height: 2; }
        @media screen and (min-width: 1200px) {
          .footer__group__disclaimer__text {
            font-size: 9px;
            line-height: 2.5; } }
    .footer__group__links {
      width: 100%;
      background-color: #F6F6F6;
      padding: 20px;
      display: flex;
      flex-wrap: wrap; }
      @media screen and (min-width: 768px) {
        .footer__group__links {
          padding: 20px 50px; } }
      @media screen and (min-width: 1024px) {
        .footer__group__links {
          padding: 20px 100px; } }
      @media screen and (min-width: 1200px) {
        .footer__group__links {
          width: 70%;
          min-height: 240px; } }
      @media screen and (min-width: 1600px) {
        .footer__group__links {
          width: 75%; } }
      .footer__group__links__item {
        padding: 30px 0;
        width: 50%;
        display: flex;
        flex-direction: column; }
        @media screen and (min-width: 768px) {
          .footer__group__links__item {
            width: 25%; } }
        .footer__group__links__item__title {
          font-size: 14px;
          padding-bottom: 20px;
          letter-spacing: 2px; }
        .footer__group__links__item__link {
          font-size: 16px;
          color: #08293C;
          letter-spacing: 2px; }
          .footer__group__links__item__link:hover {
            color: #AA076B;
            text-decoration: none; }
          @media screen and (min-width: 1200px) {
            .footer__group__links__item__link--btn {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 250px;
              height: 47px;
              background-color: #08293C;
              color: #FFF;
              border-radius: 50px;
              font-size: 14px;
              margin-top: -10px;
              box-shadow: 0 0 7px #08293c; }
              .footer__group__links__item__link--btn:hover {
                text-decoration: none;
                color: #FFF;
                transform: scale(1.1);
                -webkit-transform: scale(1.1);
                -moz-transform: scale(1.1);
                -ms-transform: scale(1.1);
                -o-transform: scale(1.1);
                box-shadow: 0 0 10px rgba(8, 41, 60, 0.5); } }
          @media screen and (min-width: 1600px) {
            .footer__group__links__item__link--btn {
              width: 275px;
              font-size: 16px; } }
          .footer__group__links__item__link--btn__icon {
            display: none; }
            @media screen and (min-width: 1200px) {
              .footer__group__links__item__link--btn__icon {
                display: block;
                margin-right: 10px; } }

/*# sourceMappingURL=custom.css.map */
