* {
  box-sizing: border-box;
  margin-block-end: 0;
  margin-block-start: 0;
  margin: 0;
  padding: 0;
  text-decoration: none;
  &::before,
  &::after {
    box-sizing: border-box;
  }

  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }
}

html,
body {
  margin: 0;
}

body {
  font-size: 16px;
  font-family: "Signika", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}
h1 {
  font-size: calc(1.375rem + 1.5vw);
  @media screen and (min-width: 1200px) {
    font-size: 2.5rem;
  }
}
h2 {
  font-size: calc(1.325rem + 0.9vw);
  @media screen and (min-width: 1200px) {
    font-size: 2rem;
  }
}
h3 {
  font-size: calc(1.3rem + 0.6vw);
  @media screen and (min-width: 1200px) {
    font-size: 1.75rem;
  }
}
h4 {
  font-size: calc(1.275rem + 0.3vw);
}
h5 {
  font-size: 1.25rem;
}
h6 {
  font-size: 1rem;
}
strong {
  font-weight: bolder;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}