@font-face {
    font-family: 'cervanttisregular';
    src: url('./fonts/cervanttis-webfont.woff2') format('woff2'),
    url('./fonts/cervanttis-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/* /fonts */

html {
    height: 100vh;
    width: 100%;
    background: url('images/background_content.png') no-repeat center;
    background-size: cover;
}

body {
    min-height: 100%;
    margin: 0;
    color: #F6F6F6;
    font-family: 'Signika', sans-serif;
    letter-spacing: 6.5px;
    text-transform: uppercase;
    background: url('images/background_grape vine.png') no-repeat center;
    background-size: contain;
}

.title {
    background: url('images/logo_python_brasil.svg') no-repeat bottom right;
    /*margin: 65px auto;*/
    margin: 0 auto;
    padding: 65px 0 0;
    width: 110px;
    height: 166px;
    text-indent: -999rem;
}

.subtitle {
    transform: rotate(270deg);
    transform-origin: left;
    position: absolute;
    bottom: 64px;
    left: 32px;
    font-size: 1rem;
}

main {
    min-height: calc(100vh - 231px);
    margin: 0 auto;
    padding: 0 72px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

main .city {
    font-family: 'cervanttisregular', sans-serif;
    font-size: 2.5rem;
    letter-spacing: 0;
    margin: 0;
    text-shadow: 0 20px 50px #00000080;
    text-transform: initial;
    text-align: center;
}

main .dates, main .region {
    padding: 0 1rem;
    max-width: 160px;
    text-align: center;
}

/* todo nav */
nav {
    position: absolute;
    top: 0;
    right: 1.5rem;
    transform: rotate(-90deg);
    transform-origin: right;
    font-size: .75rem;
}

@media (min-width: 769px) {
    body {
        background-size: auto 92%;
    }
    nav {
        top: 50%;
        transform: translateY(-50%);
    }
    header {
        position: relative;
    }
    .title {
        /*margin: 130px 0 0 157px;*/
        margin: 0;
        padding: 130px 0 0 157px;
    }
    .subtitle {
        margin: 32px -202px 0 0;
        transform-origin: right;
        white-space: nowrap;
        bottom: initial;
        left: initial;
        top: 100%;
        right: 100%;
    }
    main {
        max-width: calc(100vw - 598px);
        min-height: 100vh;
        margin: -296px auto 0;
        flex-direction: row;
    }
    main .city {
        font-size: 5rem;
    }
}
