:root {
  --main-color: #b21b69;
  --secondar-color: #1e283c;
  --complement-color: #622562;
  --gradient: linear-gradient(0deg, #b21b69 0%, #622562 100%);
}

.title {
  font-weight: bold;
  color: white;
}

body {
  min-height: 100vh;
  background: var(--secondar-color);
  font-family: "Signika";
  color: white;
  overflow-x: hidden;
}

main {
  background: var(--gradient);
}

.nav-item .nav-link {
  font-family: "Signika";
  font-weight: bold;
  color: white;
}

.nav-item .nav-link.eventbright {
  font-family: "Signika";
  color: var(--secondar-color);
  padding: 3px 15px;
  background-color: white;
  border-radius: 50px;
}

.hashtag {
  font-family: "Signika";
  color: white;
  text-align: left;
}

.local {
  color: white;
  text-align: left;
  display: flex;
  vertical-align: middle;
  font-family: "Signika";
}

.section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.v-divisor {
  border-right: 4px solid rgba(255, 255, 255, 0.25);
}

.footer-itens {
  color: var(--secondar-color);
  background-color: #fff;
  padding: 30px;
}

#faq {
  background: var(--secondar-color);
  padding-top: 20px;
}

.text-justify {
  text-align: justify;
}

.navbar {
  padding-top: 20px;
}

.navbar-bg {
  background-color: var(--secondar-color);
}

.patrocinio {
  padding: 15px 10px;
}

.patrocinio-title {
  text-transform: uppercase;
  margin-top: 15px;
}

.keynotes {
  list-style: none;
}

.keynote:nth-child(even) .keynotes-description {
  background-color: white;
  text-align: right;
  display: inline-block;
  width: 50%;
}

.divider {
  border: 2px solid white;
  margin: auto;
  margin-bottom: 10px;
  width: 50%;
}

.keynote:nth-child(even) .keynotes-description {
  background-color: white;
  text-align: left;
  display: inline-block;
  width: 50%;
}

.keynote img {
  display: inline-block;
}

.list-group-item a {
  text-decoration: none;
}

.navbar-toggler {
  border: 0;
  color: #fff;
}

.btn-block {
  width: 100%;
  margin-bottom: 10px;
}

.list-item-li {
  margin-bottom: 15px;
}

/* `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .section {
    justify-content: initial;
    margin-top: 20px;
  }
}

/* `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
}

/* `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
}

/* `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
}

/* `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
}

.patrocinio-background {
  display: inline-block;
  border-radius: 15px;
  padding: 5px;
  margin-bottom: 10px;
  background-color: #fff;
}

.article-img {
  background-color: #fff;
  padding: 20px;
}

.article-link {
  color: var(--main-color);
}

.categories-thumb {
  display: inline-block;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
}

.footer-image {
  margin: auto;
  margin-top: 60px;
  max-width: 300px;
}

/* The animation code */
@keyframes pulseButton {
  0% {
    transform: translateY(0px);
    box-shadow: 0px;
  }
  50% {
    transform: translateY(-8px);
    box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.5);
  }
  100% {
    transform: translateY(0px);
    box-shadow: 0px;
  }
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}

.btn-inscreva-se {
  animation: pulseButton;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.floatcapa {
  animation: float;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
