.container {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  padding-right: calc(1.5rem * 0.5);
  padding-left: calc(1.5rem * 0.5);
  margin-right: auto;
  margin-left: auto;

  @media screen and (min-width: $breakpoint-sm) {
    max-width: 600px;
  }
  @media screen and (min-width: $breakpoint-md) {
    max-width: 720px;
  }
  @media screen and (min-width: $breakpoint-lg) {
    max-width: 960px;
  }
  @media screen and (min-width: $breakpoint-xl) {
    max-width: 1140px;
  }
  @media screen and (min-width: $breakpoint-xxl) {
    max-width: 1320px;
  }
}
