header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
  nav {
    width: 100%;
    background-color: var(--secondary-color);
    padding: 1.2rem 0.5rem 0.6rem 0.5rem;
    display: flex;
    align-items: center;
    -webkit-box-shadow: 0px 3px 14px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 3px 14px -3px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 3px 14px -3px rgba(0, 0, 0, 0.75);

    @media screen and (min-width: $breakpoint-lg) {
      flex-wrap: nowrap;
      justify-content: flex-start;
    }
    .container {
      @media screen and (max-width: $breakpoint-lg) {
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        flex-direction: row;
      }
      @media screen and (min-width: $breakpoint-lg) {
        flex-direction: row;
      }
      .navbar-brand {
        padding-top: 0.3rem;
        margin-right: 1rem;
        font-size: 1.25rem;
        color: rgba(0, 0, 0, 1);
        text-decoration: none;
        white-space: nowrap;
      }
      .navbar-toggler {
        position: relative;
        line-height: 1;
        border: 0;
        background-color: transparent;
        height: 30px;
        width: 30px;
        margin-top: 0.6rem;
        cursor: pointer;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: 0.5s ease-in-out;
        -moz-transition: 0.5s ease-in-out;
        -o-transition: 0.5s ease-in-out;
        transition: 0.5s ease-in-out;
        span {
          display: block;
          position: absolute;
          height: 4.5px;
          width: 50%;
          background: #ffffff;
          opacity: 1;
          -webkit-transform: rotate(0deg);
          -moz-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          transform: rotate(0deg);
          -webkit-transition: 0.25s ease-in-out;
          -moz-transition: 0.25s ease-in-out;
          -o-transition: 0.25s ease-in-out;
          transition: 0.25s ease-in-out;

          &:nth-child(1),
          &:nth-child(2) {
            top: 0px;
          }
          &:nth-child(3),
          &:nth-child(4) {
            top: 8px;
          }
          &:nth-child(5),
          &:nth-child(6) {
            top: 16px;
          }
          &:nth-child(even) {
            left: 50%;
            border-radius: 0 3px 3px 0;
          }
          &:nth-child(odd) {
            left: 0px;
            border-radius: 3px 0 0 3px;
          }
        }
        &.menu-open {
          span {
            &:nth-child(1) {
              left: 0px;
              top: 5px;
            }
            &:nth-child(2) {
              left: calc(50% - 5px);
              top: 5px;
            }
            &:nth-child(3) {
              left: -50%;
              opacity: 0;
            }
            &:nth-child(4) {
              left: 100%;
              opacity: 0;
            }
            &:nth-child(5) {
              left: 0px;
              top: 16px;
            }
            &:nth-child(6) {
              left: calc(50% - 5px);
              top: 16px;
            }
            &:nth-child(2),
            &:nth-child(5) {
              -webkit-transform: rotate(-45deg);
              -moz-transform: rotate(-45deg);
              -o-transform: rotate(-45deg);
              transform: rotate(-45deg);
            }
            &:nth-child(1),
            &:nth-child(6) {
              -webkit-transform: rotate(45deg);
              -moz-transform: rotate(45deg);
              -o-transform: rotate(45deg);
              transform: rotate(45deg);
            }
          }
        }
        @media screen and (min-width: $breakpoint-lg) {
          display: none;
        }
      }
      .navbar-collapse {
        @media screen and (max-width: $breakpoint-lg) {
          display: none;
          flex: 1 0 100%;
        }
        @media screen and (min-width: $breakpoint-lg) {
          display: flex;
          justify-content: center;
          flex-basis: auto;
          align-items: center;
        }
        .navbar-nav {
          display: flex;
          flex-direction: column;
          padding-left: 0;
          margin: 0;
          list-style: none;
          flex: 1 0 100%;
          @media screen and (min-width: $breakpoint-lg) {
            flex-direction: row;
            column-gap: 0.2rem;
          }
          .nav-item {
            .nav-link {
              display: block;
              font-family: "Signika";
              font-weight: 700;
              font-size: 1rem;
              color: #ffff;
              text-decoration: none;
              padding: 0.5rem 0;
              background: 0 0;
              border: 0;
              transition: color 0.15s ease-in-out,
                background-color 0.15s ease-in-out,
                border-color 0.15s ease-in-out;

              @media screen and (min-width: $breakpoint-lg) {
                padding-right: 0.5rem;
                padding-left: 0.5rem;
              }

              &:active,
              &:hover {
                color: var(--main-color);
              }
            }
            .event-bright {
              font-family: "Signika";
              color: var(--secondary-color);
              padding: 0.5rem 1.3rem;
              background-color: #ffff;
              border-radius: 50px;
              position: relative;
              z-index: 0;
              &::before {
                content: "";
                position: absolute;
                min-width: calc(100% + 0.6rem);
                min-height: calc(100% + 0.6rem);
                border: 5px solid var(--main-color);
                border-radius: 50px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                opacity: 0;
                transition: all 0.3s ease-in-out 0s;
                animation: ring 2s infinite;
              }
            }
          }
        }
        &.menu-open {
          display: flex;
        }
      }
    }
  }
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: calc(100% + 0.6rem);
    height: calc(100% + 0.6rem);
    opacity: 0;
  }
}
