section {
  &.sponsors {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(
      to bottom,
      var(--secondary-color) 60%,
      var(--main-color) 300%
    );
    //background-color: var(--secondary-color);
    color: #fff;
    padding-top: 1rem;
    padding-bottom: 4rem;
    .container {
      align-items: center;
      row-gap: 2rem;
      .sponsors-title {
        font-size: 3.5rem;
        font-weight: 300;
        margin-bottom: -1rem;
      }
      .diamante,
      .prata,
      .parceiros,
      .apoio {
        width: 100%;
        .sponsors-items {
          width: 100%;
          display: flex;
          @media screen and (max-width: 992px) {
            display: block;
          }
          justify-content: center;
          column-gap: 2rem;
          .item {
            border: 2px solid var(--main-color);
            box-shadow: 0 3px 0 var(--main-color);
            border-radius: 0.5rem;
            padding: 0.5rem 0.5rem;
            overflow: hidden;
            background-color: #fff;
            a {
              &.psf {
                img {
                  max-height: 11rem;
                }
              }
              img {
                width: 100%;
                object-fit: none;
                object-position: center;
              }
            }
          }
        }
      }
      .diamante {
        .sponsors-items {
          .item {
            width: calc(100% / 2);
            @media screen and (max-width: 992px) {
              width: calc(100%);
              margin-bottom: 2rem;
            }
          }
        }
      }
      .prata {
        .item {
          width: calc(100% / 4);
          @media screen and (max-width: 992px) {
            width: calc(100%);
            margin-bottom: 2rem;
          }
        }
      }
      .parceiros {
        .item {
          width: calc(100% / 4);
          @media screen and (max-width: 992px) {
            width: calc(100%);
            margin-bottom: 2rem;
          }
        }
      }
      .apoio {
        .item {
          width: calc(100% / 4);
          @media screen and (max-width: 992px) {
            width: calc(100%);
            margin-bottom: 2rem;
          }
        }
      }
      .sponsors-call-action {
        width: 100%;
        display: flex;
        flex-direction: column;
        background: #fff;
        color: var(--secondary-color);
        border-radius: 0.5rem;
        padding: 1rem;
        border: 2px solid var(--main-color);
        box-shadow: 0 3px 0 var(--main-color);
        a {
          color: var(--main-color);
          &:active,
          &:hover {
            color: var(--complement-color);
            border-color: var(--complement-color);
          }
        }
        .mediakit {
          margin-top: 1rem;
          display: flex;
          width: 100%;
          align-items: center;
          justify-content: center;
          column-gap: 0.5rem;
          a {
            border-radius: 0.5rem;
            min-width: 12rem;
            padding: 0.5rem;
            border: 1px solid var(--main-color);
            transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1) 0ms,
              box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1) 0ms,
              border-color 0.25s cubic-bezier(0.4, 0, 0.2, 1) 0ms,
              color 0.25s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
            &:active,
            &:hover {
              background-color: var(--complement-color);
              color: #fff;
            }
          }
        }
      }
    }
  }
}
