/* fonts */
@font-face {
    font-family: Cervanttis;
    src: url(assets/fonts/Cervanttis.ttf)
}
/* /fonts */


div.content {
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 6500px;
    background: transparent url('assets/images/background_content.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

div.content-top {
    position: absolute;
    top: 202px;
    left: 603px;
    width: 714px;
    height: 632px;
    background: transparent url('assets/images/background_grape vine.png') 0% 0% no-repeat padding-box;
    opacity: 0.34;
    background-size: 100%;
}

div.content-top-city {
    position: absolute;
    /* top: 447px;
    left: 572px; */
    top: 420px;
    left: 572px;
    width: 698px;
    height: 243px;
}

div.content-top-city div.dates {
    top: 637px;
    left: 695px;
    width: 390px;
    /* height: 25px; */
    margin-left: 125px;
}
div.content-top-city div.dates p {
    text-align: left;
    /* font: Regular 20px/25px Signika; */
    font-family: 'Signika', sans-serif;
    font-size: 15px;
    letter-spacing: 10.84px;
    color: #F6F6F6;
    text-shadow: 0px 20px 50px #00000080;
    text-transform: uppercase;
    opacity: 1;
}
div.content-top-city div.city p {
    text-align: left;
    /* font: Regular 101px/243px Cervanttis; */
    font-family: Cervanttis;
    font-size: 100px;
    letter-spacing: 0;
    color: #F6F6F6;
    text-shadow: 0px 20px 50px #00000080;
    opacity: 1;
    margin: 0;
}

div.content-top-city div.region {
    top: 637px;
    left: 695px;
    width: 351px;
    /* height: 25px; */
    margin-left: 125px;
}
div.content-top-city div.region p {
    text-align: left;
    /* font: Regular 20px/25px Signika; */
    font-family: 'Signika', sans-serif;
    letter-spacing: 10.84px;
    color: #F6F6F6;
    text-shadow: 0px 20px 50px #00000080;
    text-transform: uppercase;
    opacity: 1;
}

div.content-top-statues {
    position: absolute;
    top: 226px;
    left: 827px;
    width: 191px;
    height: 185px;
    background: transparent url('assets/images/statues.png') 0% 0% no-repeat padding-box;
    box-shadow: 0px 20px 50px #000000;
    opacity: 0.12;
    background-size: 100%;
}


div.logo {
    position: absolute;
    top: 130px;
    left: 157px;
    width: 110px;
    height: 166px;
    opacity: 1;
}

div.logo-python {
    top: 130px;
    left: 157px;
    width: 110px;
    height: 166px;
    background: transparent url('assets/images/logo_python_brasil.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
}

div.vertical-description {
    position: absolute;
    top: 370px;
    left: 135px;
    /* width: 15px; */
    height: 452px;
    transform: matrix(0, -1, 1, 0, 0, 0);
}
div.vertical-description p {
    text-align: left;
    /* font-family: Regular 12px/15px Signika; */
    font-family: 'Signika', sans-serif;
    letter-spacing: 6.5px;
    color: #F6F6F6;
    text-transform: uppercase;
    opacity: 1;
}

div.top-menu {
    position: absolute;
    top: 333px;
    left: 1631px;
    width: 70px;
    /* height: 15px; */
}
div.top-menu a {
    text-align: left;
    /* font: Semibold 12px/25px Signika; */
    font-family: 'Signika', sans-serif;
    font-size: 12px;
    letter-spacing: 3px;
    color: #F6F6F6;
    opacity: 1;
    margin-bottom: 85px;
    text-decoration: None;
}
div.top-menu ul {
    list-style: none;
    width: 150px;
    align-items: center;
    margin: 0;
}

div.top-menu ul li {
    display: block;
    padding: 30px;
}

div.saiba-mais {
    position: absolute;
    top: 1381px;
    left: 458px;
    width: 85px;
    height: 1px;
    background: #AA076B 0% 0% no-repeat padding-box;
    opacity: 1;
}